%angular
<div class="sfp-form-container">
<form>
  <div class= "form-group">
    <div class="row">
        <div class="col-xs-3 form-group">
          <!-- payment id -->
            <label for="s-paymentId" id="paymentIdInput">Payment Id: </label>
            <input type="text" class="form-control" id="s-paymentId" ng-model="data.paymentId"></input>
        </div>
        <div class="col-xs-3 form-group">
             <label for="s-direction" id="directionLabel">Direction: </label>
                <select class="form-control" id="s-direction" ng-model="data.direction">
                    <option selected value> -- select an option -- </option>
                    <option value="'I'">Inbound</option>
                    <option value="'O'">Outbound</option>
                </select>
        </div>
        <div  class="col-xs-3 form-group">
            <label for="s-txstatus" id="txstatusLabel">Status: </label>
            <select class="form-control" id="s-txstatus" ng-model="data.status">
                <option selected value> -- select an option -- </option>
                <option value="'ACSP'">Accepted</option>
                <option value="'ACTC'">Accepted with Qualification</option>
                <option value="'RJCT'">Rejected</option>
                <option value="'SENT'">Sent</option>
                <option value="'RVSD'">Reversed</option>
            </select>
        </div>
    </div>


   <div class="row">
       
    <!-- debit/credit -->
    <div  class="col-xs-3 form-group">
        <label for="s-cdtdbtind" >Credit / Debit: </label>
            <select class="form-control" id="s-cdtdbtind" ng-model="data.creditdebit">
                <option selected value> -- select an option -- </option>
                <option value="'D'">Debit</option>
                <option value="'C'">Credit</option>
            </select>
    </div>  
    <div  class="col-xs-3 form-group">
      <!-- scheme -->   
        <label for="s-paymentscheme" >Scheme: </label>
            <select class="form-control" id="s-paymentscheme" ng-model="data.scheme">
                <option selected value> -- select an option -- </option>
                <option value="'pacs.002.001.06'">pacs_002_001</option>
                <option value="'pacs.004.001.06'">pacs_004_001</option>
                <option value="'pacs.007.001.06'">pacs_007_001</option>
                <option value="'pacs.008.001.06'">pacs_008_001</option>
                <option value="'pacs.009.001.06'">pacs_009_001</option>
            </select>
    </div>
</div>

  <div class="row">
    <!-- FP Id -->
         <div  class="col-xs-3 form-group">
              <label for="s-fpid">FP Id: </label>
              <input type="text" class="form-control" id="s-fpid" ng-model="data.fpid"></input>
         </div>
    <!-- TX Id -->
         <div class="col-xs-3 form-group">
            <label for="s-txid">Transaction ID: </label>
            <input type="text" class="form-control" id="s-txid" ng-model="data.txid"></input>
         </div>
    <!-- End-to-end Id -->
         <div class="col-xs-3 form-group">
            <label for="s-endtoendid">End-to-end Id: </label>
            <input type="text" class="form-control" id="s-endtoendid" ng-model="data.endtoendid"></input>
        </div>
    </div>
</div>

  

  <div class="row">
    <!-- amount -->
    <div  class="col-xs-3 form-group">
        <label for="s-intrbksttlamt">Settlement Amount: </label>
        <input type="number" class="form-control" id="s-intrbksttlamt" step="0.01" min="0" ng-model="data.amount">
    </div>
    <!-- currency -->
    <div  class="col-xs-3 form-group">
        <label for="s-intrbksttlccy">Currency: </label>
        <input type="text" class="form-control" id="s-intrbksttlccy" ng-model="data.currency"></input>
    </div>
</div>

  <div class="row">
    <!-- timestamps --> 
    <div class="col-xs-3 form-group">
         <label for="s-credttm">Credit Date: </label>
         <input class="form-control"  type="date" name="s-credttm" id="s-credttm" ng-model="data.credttm"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-credttm2">Credit Time: </label>
         <input type="text" class="form-control" id="s-credttm2" ng-model="data.credttm2"></input>
      </div>
</div>


  <div class="row">
    <!-- timestamps --> 
   
    <div class="col-xs-3 form-group">
         <label for="s-rcvddttm">Received Timestamp: </label>
         <input class="form-control"  type="date" name="s-rcvddttm" id="s-rcvddttm"  ng-model="data.rcvddttm"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-intrbksttldt">Settlement Date: </label>
         <input class="form-control"  type="date" name="s-intrbksttldt"  id="s-intrbksttldt" ng-model="data.intrbksttldt"></input>
    </div>
</div>

<div class="row">
    <!-- creditor--> 
    <div class="col-xs-3 form-group">
         <label for="s-cdtrname">Creditor Name: </label>
         <input type="text" class="form-control" id="s-cdtrname"  ng-model="data.cdtrname"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-cdtracct">Creditor Account: </label>
         <input type="text" class="form-control" id="s-cdtracct"  ng-model="data.cdtracct"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-cdtrPstlAdr">Creditor Postal Address: </label>
        <input type="text" class="form-control" id="s-cdtrPstlAdr" ng-model="data.cdtrPstlAdr"></input>
    </div>
</div>

<div class="row">
    <!-- debtor--> 
    <div class="col-xs-3 form-group">
         <label for="s-dbtrnm">Debtor Name: </label>
         <input type="text" class="form-control" id="s-dbtrnm" ng-model="data.dbtrnm"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-dbtracct">Debtor Account: </label>
         <input type="text" class="form-control" id="s-dbtracct" ng-model="data.dbtracct"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="s-dbtrPstlAdr">Debtor Postal Address: </label>
        <input type="text" class="form-control" id="s-dbtrPstlAdr"  ng-model="data.dbtrPstlAdr"></input>
    </div>
</div>


<div class="row">
    <!-- debtor--> 
    <div class="col-xs-3 form-group">
         <label for="s-cdtrrefinf">Credit Information: </label>
         <input type="text" class="form-control" id="s-cdtrrefinf" ng-model="data.cdtrrefinf"></input>
    </div>
</div>
     
  </div>
  <button type="submit" class="btn btn-primary" ng-click="doQuery()"> Search</button>
</form>

<div class="clear-form-button">
    <button class="btn" ng-click="clearForm()">Clear Form</button>
</div>

</div>
<script>

function init_search_fp(){

    console.log('init fp search');
    var scope = angular.element($("#paymentIdInput")).scope();
    scope.data = {};
    
    scope.clearForm = function(){
        var scope = angular.element($("#paymentIdInput")).scope();
        scope.data = {
            status: ''
        };
    }
    
    scope.doQuery = function(){
        var scope = angular.element($("#paymentIdInput")).scope();


        var creditDateTime = composeDateTimeQuery('s-credttm', 's-credttm2', 'credttm');
        var receivedDate = composeDateQuery('s-rcvddttm', 'rcvddttm');
        var settlementDate = composeDateQuery('s-intrbksttldt', 'intrbksttldt');

        var queryFields = ["paymentId = ", "direction = ", "txstatus = ", "fpid = ", "txid =", "endtoendid = ", "intrbksttlamt = ",
            "intrbksttlccy = ", "paymentscheme = ", "UPPER(cdtrnm) like ", "cdtracct = ", "UPPER(cdtrPstlAdr) like ", "UPPER(dbtrnm) like ", "dbtracct = ", "UPPER(dbtrPstlAdr) like ", "cdtdbtind = ", 
            "UPPER(cdtrrefinf) like", creditDateTime.datetimequery, receivedDate.datetimequery, settlementDate.datetimequery]
        var values = [scope.data.paymentId, scope.data.direction, scope.data.status, getStringValue(scope.data.fpid), getStringValue(scope.data.txid), getStringValue(scope.data.endtoendid)
            , scope.data.amount, getStringValue(scope.data.currency), scope.data.scheme
            , getLikeValue(scope.data.cdtrname), scope.data.cdtracct, getLikeValue(scope.data.cdtrPstlAdr)
            , getLikeValue(scope.data.dbtrnm), scope.data.dbtracct, getLikeValue(scope.data.dbtrPstlAdr) 
            , scope.data.creditdebit, getLikeValue(scope.data.cdtrrefinf), creditDateTime.datetimeval, receivedDate.datetimeval, settlementDate.datetimeval]
        
        var queryValues = queryFields.map(function(e, i) {
            var field = e;
            var value = values[i]
            if (value === null || typeof(value) == 'undefined' || value === "" || value == "'%%'"){
                return "";
            }
            return e + value;
        });
        var notEmptyQueryValues = queryValues.filter(function check(c) { if (c === "") {return false} return true })
        
        var queryString = "";
        if (notEmptyQueryValues.length != 0){
            queryString = "where " + notEmptyQueryValues.join(" and ");
        }

        console.log(queryString);
        scope.z.angularBind('query', queryString,'20171127-080322_240439795');
        scope.z.runParagraph('20171127-080322_240439795');

        }
}



</script>



<style media="screen" type="text/css">


.row{
    /* margin-right: -15px; */
    margin-left: -15px; 
}

.sfp-form-container{
    width: 98%;
}

</style>