%angular
<div id="searchSanctions">
<form name="searchSanctionsForm" id="searchSanctionsForm">
  <div class= "form-group">
    <div class="row">
        <div class="col-xs-3 form-group">
          <!-- payment id -->
            <label for="searchSanctionsPaymentId" id="paymentIdInput">Payment Id: </label>
            <input type="text" class="form-control" id="searchSanctionsPaymentId" ng-model="data.paymentId"></input>
        </div>
     
        <!-- payment system -->
        <div  class="col-xs-3 form-group">
              <label for="searchSanctionsPaymentSystem">Payment System: </label>
                <select class="form-control" id="searchSanctionsPaymentSystem" name="searchSanctionsPaymentSystem" ng-model="data.paymentSystem">
                <option selected value> -- select an option -- </option>
                <option value="'FPS'">FPS</option>
            </select>
         </div>

        <div class="col-xs-3 form-group">
          <!-- sanctions request id -->
            <label for="searchForSanctionsREquesy" id="SanctionRequestId">Sanctions Request Id: </label>
            <input type="text" class="form-control" id="searchForSanctionsREquesy" ng-model="data.sanctionsRequestId"></input>
        </div>
        
    </div>


   <div class="row">
    <!-- direction -->
    <div class="col-xs-3 form-group">
             <label for="searchSanctionsDirection" id="directionLabel">Direction: </label>
                <select class="form-control" id="searchSanctionsDirection" name="searchSanctionsDirection" ng-model="data.direction">
                    <option selected value> -- select an option -- </option>
                    <option value="'I'">Inbound</option>
                    <option value="'O'">Outbound</option>
                </select>
    </div>
    <!-- debit/credit -->
    <div  class="col-xs-3 form-group">
        <label for="searchSanctionsCreditDebit" >Credit / Debit: </label>
            <select class="form-control" id="searchSanctionsCreditDebit" name="searchSanctionsCreditDebit" ng-model="data.creditDebit">
                <option selected value> -- select an option -- </option>
                <option value="'D'">Debit</option>
                <option value="'C'">Credit</option>
            </select>
    </div>  
    <div  class="col-xs-3 form-group">
      <!-- scheme -->   
        <label for="searchSanctionsPaymentscheme" >Scheme: </label>
            <select class="form-control" id="searchSanctionsPaymentscheme" name="searchSanctionsPaymentscheme" ng-model="data.paymentScheme">
                <option selected value> -- select an option -- </option>
                <option value="'pacs.002.001.06'">pacs_002_001</option>
                <option value="'pacs.004.001.06'">pacs_004_001</option>
                <option value="'pacs.007.001.06'">pacs_007_001</option>
                <option value="'pacs.008.001.06'">pacs_008_001</option>
                <option value="'pacs.009.001.06'">pacs_009_001</option>
            </select>
    </div>
</div>

<div class="row">
    <!-- amount -->
    <div  class="col-xs-3 form-group">
        <label for="searchSanctionsIntrbksttlamt">Settlement Amount: </label>
        <input type="number" class="form-control" id="searchSanctionsIntrbksttlamt" name="searchSanctionsIntrbksttlamt" 
            step="0.01" min="0" ng-model="data.amount">
    </div>
    <!-- currency -->
    <div  class="col-xs-3 form-group">
        <label for="ssearchSanctionsIntrbksttlccy">Currency: </label>
        <input type="text" class="form-control" id="searchSanctionsIntrbksttlccy" name="searchSanctionsIntrbksttlccy" ng-model="data.currency"></input>
    </div>
  
</div>

<div class="row">
    <!-- counterparty -->
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsCpN">Counterparty Name: </label>
         <input type="text" class="form-control" id="searchSanctionsCpN" name="searchSanctionsCpN"  ng-model="data.cpartyName"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsAgent">Counterpaty Sort Code: </label>
         <input type="text" class="form-control" id="searchSanctionsAgent" name="searchSanctionsAgent"  ng-model="data.cpartyAgent"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsAcc">Counterparty Account: </label>
        <input type="text" class="form-control" id="searchSanctionsAcc" name="searchSanctionsAcc" ng-model="data.cpartyAcc"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsAddress">Counterparty Address: </label>
        <input type="text" class="form-control" id="ssearchSanctionsAddress" name="searchSanctionsAddress" ng-model="data.cpartyAddress"></input>
    </div>
</div>

<div class="row">
    <!-- customer -->
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsCrName">Customer Name: </label>
         <input type="text" class="form-control" id="searchSanctionsCrName" name="searchSanctionsCrName"  ng-model="data.customerName"></input>
    </div>
    <div class="col-xs-3 form-group">
         <label for="searchSanctionsCrAgent">Customer Sort Code: </label>
         <input type="text" class="form-control" id="searchSanctionsCrAgent" name="searchSanctionsCrAgent"  ng-model="data.customerAgent"></input>
    </div>
    <div class="col-xs-3 form-group" ng-class="{'has-error': !searchSanctionsForm.searchSanctionsCrAcc.$valid && searchSanctionsForm.searchSanctionsCrAcc.$dirty}" >
         <label for="searchSanctionsCrAcc">Customer Account: </label>
         <input type="text" class="form-control" id="searchSanctionsCrAcc" name="searchSanctionsCrAcc" 
            ng-model="data.customerAcc"></input>
    </div>
    <div class="col-xs-3 form-group" ng-show="false">
         <label for="searchSanctionsCrAddress">Customer Address: </label>
        <input type="text" class="form-control" id="searchSanctionsCrAddress" name="searchSanctionsCrAddress" ng-model="data.customerAddress"></input>
    </div>
</div>

<div class="row">
    <!-- payment start date -->
    <div class="col-xs-3 form-group" >
            <label for="searchSanctionsStartDate">Start Date:</label>
            <input class="form-control"  type="date" name="searchSanctionsStartDate" id="searchSanctionsStartDate" ng-model="data.startDate"></input>
        </div>
    <div class="col-xs-3 form-group" ng-class="{'has-error': !searchSanctionsForm.searchSanctionsStartTime.$valid && searchSanctionsForm.searchSanctionsStartTime.$touched}" >
            <label for="searchSanctionsStartTime">Start Time:</label>
            <input class="form-control"  type="text" name="searchSanctionsStartTime" id="searchSanctionsStartTime" ng-model="data.startTime"  
                placeholder="hh:mm:ss" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"></input>
            <label ng-show="!searchErrorForm.searchSanctionsStartTime.$valid && searchErrorForm.searchSanctionsStartTime.$touched">Expected hh:mm:ss format</label>
    </div>
 <!-- payment end date -->
 <div class="col-xs-3 form-group" >
            <label for="searchSanctionsEndDate">End Date:</label>
            <input class="form-control"  type="date" name="searchSanctionsEndDate" id="searchSanctionsEndDate" ng-model="data.endDate"></input>
        </div>
    <div class="col-xs-3 form-group" ng-class="{'has-error': !searchSanctionsForm.searchSanctionsEndTime.$valid && searchSanctionsForm.searchSanctionsEndTime.$touched}" >
            <label for="searchSanctionsEndTime">End Time:</label>
            <input class="form-control"  type="text" name="searchSanctionsEndTime" id="searchSanctionsEndTime" ng-model="data.endTime"  
                placeholder="hh:mm:ss" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"></input>
            <label ng-show="!searchSanctionsForm.searchSanctionsEndTime.$valid && searchSanctionsForm.searchSanctionsEndTime.$touched">Expected hh:mm:ss format</label>
    </div>
</div>


<div class="row">
    <!-- message -->
    <div  class="col-xs-3 form-group" ng-show="false">
        <label for="searchSanctionsMessageContent">Message Content: </label>
        <input type="text" class="form-control" id="searchSanctionsMessageContent" name="searchSanctionsMessageContent" 
             ng-model="data.content">
    </div>
</div>



  </div>
  <button type="submit" class="btn btn-primary" ng-click="search()"> Search</button>
</form>


<div class="clear-form-button">
    <button class="btn" ng-click="clearForm()">Clear Form</button>
</div>


</div>

<script>
function init_sanctions(){
    var scope = angular.element($("#searchSanctions")).scope();
    scope.queryString = "";
    scope.z.angularBind('sanctionsQuery', scope.queryString,'20171201-055640_1294562238');
    scope.data = {};

    scope.clearForm = function(){
         var scope = angular.element($("#searchSanctions")).scope();
         scope.data = {};
    }

    scope.search = function(){

        var scope = angular.element($("#searchSanctions")).scope();

        var startDateQuery = "";
        var endDateQuery = "";
        if (scope.data.startDate != "" && scope.data.startDate != null) {
            var startDateElement = document.getElementById('searchSanctionsStartDate').value;
            if (scope.data.startTime != "" && scope.data.startTime != null) {
                startDateQuery =  "\'" + startDateElement + " " + scope.data.startTime + ".000" + "\'";
            }else {
                startDateQuery = "\'" + startDateElement + "\'";
            }
        }
        if (scope.data.endDate != "" && scope.data.endDate != null) {
            var endDateElement = document.getElementById('searchSanctionsEndDate').value;
            if (scope.data.endTime != "" && scope.data.endTime != null) {
                endDateQuery  =  "\'" + endDateElement + " " + scope.data.endTime + ".000" + "\'";
            }else {
                endDateQuery = "\'" + endDateElement + "\'";
            }
        }
        
        var values = [scope.data.paymentId, scope.data.sanctionsRequestId, scope.data.paymentSystem, scope.data.direction, scope.data.creditDebit, scope.data.paymentScheme, scope.data.amount,
                        getStringValue(scope.data.currency), startDateQuery,  endDateQuery, getLikeValue(scope.data.cpartyName),
                        scope.data.cpartyAgent, scope.data.cpartyAcc, getLikeValue(scope.data.cpartyAddress),
                        getLikeValue(scope.data.customerName), scope.data.customerAgent, scope.data.customerAcc, getLikeValue(scope.data.customerAddress)]

        var queryFields = ["paymentId = ", "SanctionsRequestId = " , "paymentSystem = ", "direction = ", "cdtdbtind = ", "paymentscheme =", "intrbksttlamt = ",
            "intrbksttlccy = ", "intrbksttldt >= ", "intrbksttldt <= ", "UPPER(counterpartynm) like ", "counterpartyagt =",
            "counterpartyacct = ", "UPPER(counterpartyadr) like ", "UPPER(customernm) like ", "customeragt =", "customeracct =", "UPPER(customeradr) like "]
        
        var queryValues = queryFields.map(function(e, i) {
            var field = e;
            var value = values[i]
            if (value === null || typeof(value) == 'undefined' || value === "" || value == "'%%'"){
                return "";
            }
            return e + value;
        });
        var notEmptyQueryValues = queryValues.filter(function check(c) { if (c === "") {return false} return true })
        
        var queryString = "";
        if (notEmptyQueryValues.length != 0){
            queryString = "where " + notEmptyQueryValues.join(" and ");
        }
        scope.queryString = queryString;
        console.log(scope.queryString);
        scope.z.angularBind('sanctionsQuery', scope.queryString,'20171201-055640_1294562238');
        scope.z.runParagraph('20171201-055640_1294562238');
        reloadSanctions();
    }
}
</script>

<style>

#searchSanctions {
    width: 98%;
}

</style>