%angular
<form id="searchForUsmForm" name="searchForUsmForm">
  <div class= "form-group">
    <div class="row">
        <!-- USM type -->
        <div class="col-xs-4 form-group">
            <label for="usm-type" >USM Type: </label>
            <select class="form-control" id="usm-type" ng-model="data.usmType">
                <option selected value></option>
                <option value="3RDPTYSTS">FPS Institutions and Third Party Benefciary Status Change</option>
                <option value="SNDTHRSTSCHG">Settlement Risk - Net Sender Threshold Status Change</option>
                <option value="SNDCAPSTS">Net Sender Cap Status</option>
                <option value="SITLCHG">Settlement Individual Tranasaction Limit Change</option>
                <option value="STLPAYCD">STL_PAYMENT_CODE</option>
                <option value="SNDTHR">Net Sender Threshold Change</option>
                <option value="SNDCAPCHG">Net Sender Cap Change</option>
                <option value="STLMSTS">Settlement Status</option>
                <option value="SCHRTNPAYFAIL">Scheme Return Payment Failure</option>
                <option value="FREEFMT">Free Format</option>
                <option value="ASPMALT">ASPM Alert Message</option>
                <option value="PROP">Proprietary</option>
            </select>
        </div>
    </div>
    <div class="row">
        <!-- Start Date -->
        <div class="col-xs-4 form-group" >
            <label for="usm-startDate">Start Date:</label>
            <input class="form-control"  type="date" name="usm-startDate" id="usm-startDate" ng-model="data.startDate"></input>
        </div>
        <div class="col-xs-4 form-group" ng-class="{'has-error': !searchForUsmForm.usmStartTime.$valid && searchForUsmForm.usmStartTime.$touched}" >
            <label for="usmStartTime">Start Time:</label>
            <input class="form-control"  type="text" name="usmStartTime" id="usmStartTime" ng-model="data.startTime"  
                placeholder="hh:mm:ss" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"></input>
            <label ng-show="!searchForUsmForm.usmStartTime.$valid && searchForUsmForm.usmStartTime.$touched">Expected hh:mm:ss format</label>
        </div>
    </div>
    <div class="row">
        <!-- End Date -->
        <div class="col-xs-4 form-group">
            <label for="usm-endDate">End Date:</label>
            <input class="form-control"  type="date" name="usm-endDate" id="usm-endDate" ng-model="data.endDate"></input>
        </div>
        <div class="col-xs-4 form-group" ng-class="{'has-error': !searchForUsmForm.usmEndTime.$valid && searchForUsmForm.usmEndTime.$touched}" >
            <label for="usmEndTime">End Time:</label>
            <input class="form-control"  type="text" name="usmEndTime" id="usmEndTime" ng-model="data.endTime"  
                placeholder="hh:mm:ss" ng-pattern="/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"></input>
            <div ng-show="!searchForUsmForm.usmEndTime.$valid && searchForUsmForm.usmEndTime.$touched">Expected hh:mm:ss format</div>
        </div>
    </div>


  <button type="submit" class="btn btn-primary" ng-click="query()" ng-disabled="searchForUsmForm.$invalid"> Search USM</button>
</form>


<div class="clear-form-button">
    <button class="btn" ng-click="clearForm()">Clear Form</button>
</div>

<script>
function init_search_usm(){
    console.log('init usd');
    var scope = angular.element($("#searchForUsmForm")).scope();
    scope.data = {};

    scope.clearForm = function(){
        scope.data = {};
    }

    scope.query = function(){
         var scope = angular.element($("#searchForUsmForm")).scope();

            var query = "where ";
            var queryChunks = []
            if (scope.data.usmType !== "" && scope.data.usmType != null) {
                var usmType = "usmType = " + "\'" + scope.data.usmType + "\'";
                queryChunks.push(usmType)
            }
            if (scope.data.startDate != "" && scope.data.startDate != null){
                var startDateElement = document.getElementById('usm-startDate').value;
                var startdate = "paymenttimestamp >= ";

                if (scope.data.startTime != "" && scope.data.startTime != null){
                    startdate = startdate + "\'" + startDateElement + " " + scope.data.startTime + ".000" + "\'";
                }else{
                    startdate = startdate + "\'" + startDateElement + "\'";
                }
                queryChunks.push(startdate)
            }
            if (scope.data.endDate != "" && scope.data.endDate != null){
                var endDateElement = document.getElementById('usm-endDate').value;
                var enddate = "paymenttimestamp <= ";
                
                if (scope.data.endTime != "" && scope.data.endTime != null){
                    enddate = enddate + "\'" + endDateElement + " " + scope.data.endTime + ".000" + "\'";
                }else{
                    enddate = enddate + "\'" + endDateElement + "\'";
                }
                queryChunks.push(enddate)
            }
            if (queryChunks.length === 0){
                query = "";
            }else{
                query = query + queryChunks.join(" and ");
            }
            console.log(query);
            scope.z.angularBind('usmQuery', query,'20171215-063115_262728712');
            scope.z.runParagraph('20171215-063115_262728712');
    }

}

</script>

<style>
#searchForUsmForm{
    width: 98%;
    height: 483px;
}
</style>