%angular
<div  id="submit-fp-container">
<div ng-show="result.show" ng-class="{'fp-submit-status-container-failed': !result.success, 'fp-submit-status-container': result.success}">
    <div class="result-header">{{result.text}}</div>
    <div class="result-details row" ng-show="result.show">
        <div class="col-xs-3">
            <label>PaymentId: </label>
            <div>{{result.paymentId}}</div>
         </div>
        <div class="col-xs-3">
            <label>Status: </label>
            <div>{{result.txSts}}</div>
        </div>
        <div class="col-xs-3"> 
            <label>Status Reason: </label>
            <div>{{result.stsRsn}}</div>
        </div>
    </div>
</div>

<form name="fpPutForm" id="post-fp-form">
    <div class= "form-group">
        <div class="row">
                <!-- UserName -->
                <div class="col-xs-3 form-group" >
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" id="username" ng-model="data.username">
                </div>

                <!-- Password -->
                <div class="col-xs-3 form-group" >
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" id="password" ng-model="data.password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 form-group">
            <!-- payment Type -->
               <label for="paymentType">Payment Type: </label>
                <select class="form-control" id="paymentType" ng-model="data.paymentType">
                    <option selected value="SIP">Single Inmediate Payment</option>
                    <option value="FDP">Forward Dated Payment</option>
                    <option value="SO">Standing Order</option>
                </select>
            </div>
        </div> 
    </div>

    <div class= "form-group"> 
        <div class="row">
        <!-- Amount -->
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.amount.$valid && fpPutForm.amount.$dirty}" >
                <label for="amount">Amount: </label>
                <input type="number" name="amount" class="form-control" id="intrbksttlamt" ng-model="data.intrbksttlamt" required ng-min=0 step="0.01">
                <div class="invalid-feedback" ng-show="!fpPutForm.amount.$valid && fpPutForm.amount.$dirty">
                    Amount is required
                </div>
            </div>
        <!-- Currency -->
             <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.currency.$valid && fpPutForm.currency.$dirty}">
                <label for="currency">Currency: </label>
                <input type="text" name="currency" class="form-control" id="currency" ng-model="data.currency" required="true" ng-minlength="3" ng-maxlength="3" 
                ng-pattern="/^[A-Z]{3}$/">
                <div class="invalid-feedback" ng-show="fpPutForm.currency.$error.required && fpPutForm.currency.$dirty">
                    Curreny is required
                </div>
                <div class="invalid-feedback" ng-show="(fpPutForm.currency.$error.minlength || fpPutForm.currency.$error.maxlength || fpPutForm.currency.$error.pattern) && !fpPutForm.currency.$error.required && fpPutForm.currency.$dirty">
                    Wrong currency format
                </div>
            </div>
      
        </div>
    </div>

    <div class= "form-group">
        <div class="row">
        <!-- Reference Info -->
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.referenceInformation.$valid && fpPutForm.referenceInformation.$dirty}" >
                <label for="referenceInformation">Reference Information: </label>
                <input type="text" name="referenceInformation" class="form-control" id="referenceInformation" ng-model="data.referenceInformation" ng-maxlength="18">
                <div class="invalid-feedback" ng-show="!fpPutForm.referenceInformation.$valid && fpPutForm.endtoendid.$dirty">
                    Maximum length is 18 characters
                </div>
            </div>
        <!-- End to End Id -->
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.endtoendid.$valid && fpPutForm.endtoendid.$dirty}">
                <label for="endtoendid">End to End Id: </label>
                <input type="text" name="endtoendid" class="form-control" id="endtoendid" ng-model="data.endtoendid" ng-maxlength="31">
                 <div class="invalid-feedback" ng-show="!fpPutForm.endtoendid.$valid && fpPutForm.endtoendid.$dirty">
                    Maximum length is 31 characters
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">  
        <!-- Channel -->
        <div class="row">
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.channel.$valid && fpPutForm.channel.$dirty}">
                <label for="channel">Channel </label>
                <select class="form-control" id="channel" ng-model="data.channel" required="true">
                    <option selected value="PHONE">Phone</option>
                    <option value="INTERNET">Internet</option>
                    <option value="BRANCH">Branch</option>
                    <option value="LETTER">Letter</option>
                    <option value="EMAIL">Email</option>
                    <option value="MOBILE">Mobile</option>
                </select>
            </div>
        <!-- Purpose -->
        <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.purpose.$valid && fpPutForm.purpose.$dirty}">
                <label for="purpose">Purpose </label>
                <input type="text" name="purpose" class="form-control" id="purpose" ng-model="data.purpose" ng-maxlength="18">
            </div>
        </div>
    </div>

    <div class= "form-group">
        <div class="row">
        <!-- Debtor Details -->
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.dbtrNm.$valid && fpPutForm.dbtrNm.$dirty}">
                <label for="dbtrNm">Debtor Name: </label>
                <input type="text" name="dbtrNm" class="form-control" id="dbtrNm" ng-model="data.dbtrNm" ng-maxlength="255" required="true">
            </div>
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.dbtrPstlAdr.$valid && fpPutForm.dbtrPstlAdr.$dirty}">
                <label for="dbtrPstlAdr">Debtor Postal Address: </label>
                <input type="text" name="dbtrPstlAdr" class="form-control" id="dbtrPstlAdr" ng-model="data.dbtrPstlAdr" ng-maxlength="255">
            </div>
        </div>
    </div>


    <div class= "form-group">
        <div class="row">
        <!-- Debtor Accounts-->
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.debtor.$valid && fpPutForm.debtor.$dirty}" >
                <label for="debtor">Debtor Sort Code: </label>
                <input type="text" name="debtor" class="form-control" id="debtor" ng-model="data.debtor" required="true" ng-maxlength="255">
                <div class="invalid-feedback" ng-show="fpPutForm.debtor.$error.required && fpPutForm.debtor.$dirty">
                    Debtor Sort Code is required
                </div>
            </div>
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.debtorAccount.$valid && fpPutForm.debtorAccount.$dirty}">
                <label for="debtorAccount">Debtor Account: </label>
                <input type="text" name="debtorAccount" class="form-control" id="debtorAccount" ng-model="data.debtorAccount" required="true" ng-maxlength="30" ng-pattern="/^[0-9]*$/">
                <div class="invalid-feedback" ng-show="fpPutForm.debtorAccount.$error.required && fpPutForm.debtorAccount.$dirty">
                    Debtor Account is required
                </div>
                 <div class="invalid-feedback" ng-show="fpPutForm.debtorAccount.$error.pattern && fpPutForm.debtorAccount.$dirty">
                    wrong format
                </div>
            </div>
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.debtorAccountId.$valid && fpPutForm.debtorAccountId.$dirty}">
                <label for="debtorAccountId">Debtor Internal Acc Id: </label>
                <input type="text" name="debtorAccountId" class="form-control" id="debtorAccountId" ng-model="data.debtorAccountId" required="true" ng-maxlength="255">
                 <div class="invalid-feedback" ng-show="fpPutForm.debtorAccountId.$error.required && fpPutForm.debtorAccountId.$dirty">
                    Debtor Internal Account ID is required
                </div>
            </div>
        </div> 
    </div>

    <div class= "form-group">
        <div class="row">
        <!-- Ceditor Details -->
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.cdtrNm.$valid && fpPutForm.cdtrNm.$dirty}">
                <label for="cdtrNm">Creditor Name: </label>
                <input type="text" name="cdtrNm" class="form-control" id="cdtrNm" ng-model="data.cdtrNm" ng-maxlength="255">
            </div>
            <div class="col-xs-4 form-group" ng-class="{'has-error': !fpPutForm.cdtrPstlAdr.$valid && fpPutForm.cdtrPstlAdr.$dirty}">
                <label for="cdtrPstlAdr">Creditor Postal Address: </label>
                <input type="text" name="cdtrPstlAdr" class="form-control" id="cdtrPstlAdr" ng-model="data.cdtrPstlAdr" ng-maxlength="255">
            </div>
        </div>
    </div>


     <div class= "form-group">
        <div class="row">
        <!-- Creditor Accounts -->
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.cdtrAgt.$valid && fpPutForm.cdtrAgt.$dirty}" >
                <label for="cdtrAgt">Creditor Sort Code: </label>
                <input type="text" name="cdtrAgt" class="form-control" id="cdtrAgt" ng-model="data.cdtrAgt" required="true" ng-maxlength="255">
                <div class="invalid-feedback" ng-show="fpPutForm.cdtrAgt.$error.required && fpPutForm.cdtrAgt.$dirty">
                    Creditor Sort Code is required
                </div>
            </div>
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.cdtrAcct.$valid && fpPutForm.cdtrAcct.$dirty}">
                <label for="cdtrAcct">Creditor Account: </label>
                <input type="text" name="cdtrAcct" class="form-control" id="cdtrAcct" ng-model="data.cdtrAcct" required="true" ng-maxlength="30" ng-pattern="/^[0-9]*$/">
                <div class="invalid-feedback" ng-show="fpPutForm.cdtrAcct.$error.required && fpPutForm.cdtrAcct.$dirty">
                    Creditor Account is required
                </div>
                 <div class="invalid-feedback" ng-show="fpPutForm.cdtrAcct.$error.pattern && fpPutForm.cdtrAcct.$dirty">
                    wrong format
                </div>
            </div>
            <div class="col-xs-3 form-group" ng-class="{'has-error': !fpPutForm.cdtrAcctId.$valid && fpPutForm.cdtrAcctId.$dirty}">
                <label for="cdtrAcctId">Creditor Internal Acc Id: </label>
                <input type="text" name="cdtrAcctId" class="form-control" id="cdtrAcctId" ng-model="data.cdtrAcctId" ng-maxlength="255">
            </div>
        </div> 
    </div>
  
 </div>
  <button type="submit" class="btn btn-primary" onclick="submit_faster_payment()" ng-disabled="submit.inprogress"> {{submit.text}}</button>
  
</form>
</div>

<div class="clear-form-button">
  <button class="btn" ng-click="clearForm()">Clear Form</button>
</div>

























<style media="screen" type="text/css">

.fp-submit-status-container {
    background-color: #def9db;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.fp-submit-status-container-failed{
    background-color: #900C3F;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f2f2f2;
}

.result-header{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

#submit-fp-container{
    margin-top:20px; 
    margin-bottom:20px;
    width: 98%;
}


.clear-form-button{
    display: inline;
    float: right;
}

.invalid-feedback{
    width: 100%;
    margin-top: .55rem;
    font-size: 80%;
    color: #dc3545;
}
</style>





<script>

    angular.element(document).ready(function () {
        console.log('init');
        init_send_payment();
        init_search_fp();
        init_send_return();
        init_search_errors();
        init_sanctions();
        init_sanctions_api();
        init_search_usm();
    });


    function getStringValue(val){
        if (typeof(val) == "undefined" || val == null || val === "") return ""
        return "\'" + val + "\'";
    }

    function getLikeValue(val){
        if (typeof(val) == "undefined" || val == null || val === "") return ""
        return "\'%" + val.toUpperCase() + "%\'"; 
    }

    function composeDateTimeQuery(dateElementName, timeElementName, columnName){
        var date = document.getElementById(dateElementName).value;
        var time = document.getElementById(timeElementName).value;
        var datetimequery = "";
        var datetimeval = "";
        if (date != "")
        {
            if (time != "")
            {
                datetimequery = columnName + " = ";
                datetimeval = "\'" + date + " " + time + "\'";
            }else{
                datetimequery = "substring(" + columnName + ", 0, 10) = ";
                datetimeval =  "\'" + date + "\'" ;
            }
        }
        return {
            datetimequery : datetimequery,
            datetimeval: datetimeval
        }
    }


    function composeDateQuery(dateElementName, columnName){
        var date = document.getElementById(dateElementName).value;
        var datetimequery = "";
        var datetimeval = "";
        if (date != "")
        {    
            datetimequery = "substring(" + columnName + ", 0, 10) = ";
            datetimeval =  "\'" + date + "\'" ;
        }
        return {
            datetimequery : datetimequery,
            datetimeval: datetimeval
        }
    }

    function do_ajax_query(scope, data, url) {
        console.log('Ajax Query for: ' + url);
        scope.result.show = false;
        scope.submit.inprogress = true;
        scope.submit.text = "Submitting..."


    

        var tokenData = JSON.stringify(
        {
            'usr': scope.data.username,
            'pwd' : scope.data.password
        });
        
    

        var xhrToken = new XMLHttpRequest();
        var urlToken = "https://api-0.node.consul:8285/bifrost/login/";
        console.log('URL Token: ' + urlToken);
        xhrToken.timeout = 4000; //4 seconds
        xhrToken.open("POST", urlToken, true);
        xhrToken.setRequestHeader("Content-type", "application/json");
        var tokenResponse = null;    
        xhrToken.onreadystatechange = function () {
            if (xhrToken.readyState === 4) {
                if (xhrToken.status === 200){
                    var jsonToken = JSON.parse(xhrToken.responseText);
                    tokenResponse = jsonToken.access_token;
                    console.log('Token retrieved: ' + tokenResponse);
                    
                    var xhr = new XMLHttpRequest();
                    var urlPayment = "https://api-0.node.consul:8080/bifrost/fps/" + url;
                    console.log('URL: ' + urlPayment);
                    xhr.timeout = 4000; //4 seconds
                    xhr.open("POST", urlPayment, true);
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Authorization", "Bearer " + tokenResponse);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200){
                                var json = JSON.parse(xhr.responseText);
                                if (json.txSts != "RJCT"){
                                     scope.result.text = "Payment Submitted";
                                }else{
                                    scope.result.text = "Submission Failed"
                                }
                                scope.result.paymentId = json.paymentId;
                                scope.result.txSts = json.txSts;
                                scope.result.stsRsn = json.stsRsn;
                                scope.result.success = json.txSts != "RJCT"
                                scope.result.show = true;
                                scope.$apply(); 
                            } else {
                                scope.result.text = "Submission Failed"
                                scope.result.paymentId = ""
                                scope.result.txSts = "";
                                scope.result.stsRsn = xhr.responseText;
                                scope.result.success = false;
                                scope.result.show = true;
                                scope.$apply(); 
                            }
                        }
                        scope.submit.inprogress = false;
                        scope.submit.text = "Submit Payment"
                    };

                    console.log('sending data');
                    console.log(data);
                    xhr.send(data);
                }
            }
            scope.submit.inprogress = false;
            scope.submit.text = "Submit Payment";
        };

        console.log('sending token data: ' + tokenData);
        xhrToken.send(tokenData);
    }


    function  init_send_payment() {
        var scope = angular.element($("#post-fp-form")).scope();

        if (typeof(scope.result)=== "undefined"){
        scope.result = {
            text: "",
            paymentId: "",
            txSts: "",
            stsRsn: "",
            success: false,
            show: false
        }
        scope.submit = {
            inprogress: false,
            text: 'Submit Payment'
        }
        scope.data = {}
        scope.data.paymentType = "SIP";
        scope.data.channel = "PHONE";
        scope.clearForm = function(){
                var scope = angular.element($("#post-fp-form")).scope();
                scope.data = {
                    paymentType: "SIP"
                }
            }; 
        }
    }

    function submit_faster_payment() {
        //get angular scope
        var scope = angular.element($("#post-fp-form")).scope();
        if (scope.fpPutForm.$valid) {
            var data = JSON.stringify(
            {
                'paymentType': scope.data.paymentType,
                'intrBkSttlmAmtCcy':  scope.data.currency,
                'intrBkSttlmAmt' : scope.data.intrbksttlamt,
                'dbtrAgt': scope.data.debtor,
                'dbtrAcct': scope.data.debtorAccount,
                'dbtrAcctId': scope.data.debtorAccountId,
                'dbtrNm': scope.data.dbtrNm,
                'dbtrPstlAdr': [
                    scope.data.dbtrPstlAdr
                ],
                'endToEndId': scope.data.endtoendid,
                'cdtrAgt': scope.data.cdtrAgt,
                'cdtrAcct': scope.data.cdtrAcct,
                'cdtrAcctId': scope.data.cdtrAcctId,
                'cdtrNm': scope.data.cdtrNm,
                'cdtrPstlAdr': [
                    scope.data.cdtrPstlAdr
                ],
                'returnedPaymentId': scope.data.paymentReturnId,
                'paymentReturnCode':  scope.data.paymentReturnCode,
                'referenceInformation': scope.data.referenceInformation,
                'ctgyPurp': scope.data.channel,
                'purp': scope.data.purp
            });
            do_ajax_query(scope, data, "sendPayment");
        } else {
            scope.fpPutForm.$setDirty();
            scope.fpPutForm.amount.$dirty = true;
            scope.fpPutForm.paymentType.$dirty = true;
            scope.$apply();
            console.log('set dirty');
        }
    }

</script>
