%angular
<div  id="submit-searchChaps-container">
    <div ng-show="show" ng-class="{'searchChapsPayment-submit-status-container-failed': !result.success, 'searchChapsPayment-submit-status-container': result.success}">
        <div class="result-header">{{result.text}}</div>
        <div class="result-details row" ng-show="show">
            <div class="col-xs-3">
                <label>Chaps Payment: </label>
                <div>{{result.payment}}</div>
             </div>
        </div>
    </div>

    <form name="searchChapsPaymentForm" id="post-searchChapsPayment-form">
        <div class= "form-group">
            <div class="row">
                <!-- Payment Id -->
                <div class="col-xs-3 form-group" >
                    <label for="paymentId">Payment Id: </label>
                    <input type="text" name="paymentId" class="form-control" id="paymentId" ng-model="data.paymentId">
                </div>

                <!-- Direction -->
                <div class="col-xs-3 form-group">
                    <label for="direction">Direction: </label>
                    <select class="form-control" id="direction" ng-model="data.direction">
                        <option value="0">-- Select an option --</option>
                        <option value="I">Inbound</option>
                        <option value="O">Outbound</option>
                    </select>
                </div>

                <!-- Status -->
                <div class="col-xs-3 form-group">
                    <label for="status">Status: </label>
                    <select class="form-control" id="status" ng-model="data.status">
                        <option value="0">-- Select an option --</option>
                        <option value="ACSP">Accepted</option>
                        <option value="RJCT">Rejected</option>
                    </select>
                </div>

                <!-- Credit / Debit -->
                <div class="col-xs-3 form-group">
                    <label for="creditDebit">Credit / Debit: </label>
                    <select class="form-control" id="creditDebit" ng-model="data.creditDebit">
                        <option value="0">-- Select an option --</option>
                        <option value="D">Debit</option>
                        <option value="C">Credit</option>
                    </select>
                </div>

            </div>


            <div class="row">
                <!-- Scheme -->
                <div class="col-xs-3 form-group">
                    <label for="scheme">Scheme: </label>
                    <select class="form-control" id="scheme" ng-model="data.scheme">
                        <option value="0">-- Select an option --</option>
                        <option value="pacs.008.001.07">pacs_008_001_07</option>
                        <option value="pacs.009.001.07">pacs_009_001_07</option>
                    </select>
                </div>

                <!-- Payment Type -->
                <div class="col-xs-3 form-group">
                    <label for="paymentType">Payment Type: </label>
                    <select class="form-control" id="paymentType" ng-model="data.paymentType">
                        <option value="0">-- Select an option --</option>
                        <option value="MT103">MT103</option>
                        <option value="MT202">MT202</option>
                        <option value="MT202RTN">MT202RTN</option>
                        <option value="MT202COV">MT202COV</option>
                    </select>
                </div>

                <!-- Payment Timestamp Date -->
                <div class="col-xs-3 form-group" >
                    <label for="paymentTimestampDate">Payment Date: </label>
                    <input type="text" name="paymentTimestampDate" class="form-control" id="paymentTimestampDate" ng-model="data.paymentTimestampDate" placeholder="yyyy-mm-dd">
                </div>


                <!-- Payment Timestamp Time -->
                <div class="col-xs-3 form-group" >
                    <label for="paymentTimestampTime">Payment Time: </label>
                    <input type="text" name="paymentTimestampTime" class="form-control" id="paymentTimestampTime" ng-model="data.paymentTimestampTime" placeholder="hh:mm:ss">
                </div>
            </div>

            <div class="row">
                <!-- Transaction Id -->
                <div class="col-xs-3 form-group" >
                    <label for="transactionId">Transaction Id: </label>
                    <input type="text" name="transactionId" class="form-control" id="transactionId" ng-model="data.transactionId">
                </div>

                <!-- Settlement Amount -->
                <div class="col-xs-3 form-group" >
                    <label for="settlementAmount">Settlement Amount: </label>
                    <input type="text" name="settlementAmount" class="form-control" id="settlementAmount" ng-model="data.settlementAmount">
                </div>

                <!-- Currency -->
                <div class="col-xs-3 form-group" >
                    <label for="currency">Currency: </label>
                    <input type="text" name="currency" class="form-control" id="currency" ng-model="data.currency">
                </div>

                <!-- Status Reason -->
                <div class="col-xs-3 form-group" >
                    <label for="statusReason">Status Reason: </label>
                    <input type="text" name="statusReason" class="form-control" id="statusReason" ng-model="data.statusReason">
                </div>
            </div>


            <div class="row">
                <!-- Category Purpose -->
                <div class="col-xs-3 form-group" >
                    <label for="categoryPurpose">Category Purpose: </label>
                    <input type="text" name="categoryPurpose" class="form-control" id="categoryPurpose" ng-model="data.categoryPurpose">
                </div>

                <!-- Returned Payment Id -->
                <div class="col-xs-3 form-group" >
                    <label for="returnedPaymentId">Returned Payment Id: </label>
                    <input type="text" name="returnedPaymentId" class="form-control" id="returnedPaymentId" ng-model="data.returnedPaymentId">
                </div>

                <!-- Return Code -->
                <div class="col-xs-3 form-group" >
                    <label for="returnCode">Return Code: </label>
                    <input type="text" name="returnCode" class="form-control" id="returnCode" ng-model="data.returnCode">
                </div>

                <!-- Remitance Info -->
                <div class="col-xs-3 form-group" >
                    <label for="remitanceInfo">Remitance Info: </label>
                    <input type="text" name="remitanceInfo" class="form-control" id="remitanceInfo" ng-model="data.remitanceInfo">
                </div>
            </div>


            <div class="row">
                <!-- Creditor Name -->
                <div class="col-xs-3 form-group" >
                    <label for="creditorName">Creditor Name: </label>
                    <input type="text" name="creditorName" class="form-control" id="creditorName" ng-model="data.creditorName">
                </div>

                <!-- Creditor Account -->
                <div class="col-xs-3 form-group" >
                    <label for="creditorAccount">Creditor Account: </label>
                    <input type="text" name="creditorAccount" class="form-control" id="creditorAccount" ng-model="data.creditorAccount">
                </div>

                <!-- Creditor BICFI -->
                <div class="col-xs-3 form-group" >
                    <label for="creditorBICFI">Creditor BICFI: </label>
                    <input type="text" name="creditorBICFI" class="form-control" id="creditorBICFI" ng-model="data.creditorBICFI">
                </div>

                <!-- Creditor Postal Address -->
                <div class="col-xs-3 form-group" >
                    <label for="creditorPostalAddress">Creditor Postal Address: </label>
                    <input type="text" name="creditorPostalAddress" class="form-control" id="creditorPostalAddress" ng-model="data.creditorPostalAddress">
                </div>
            </div>

            <div class="row">
                <!-- Debtor Name -->
                <div class="col-xs-3 form-group" >
                    <label for="debtorName">Debtor Name: </label>
                    <input type="text" name="debtorName" class="form-control" id="debtorName" ng-model="data.debtorName">
                </div>

                <!-- Debtor Account -->
                <div class="col-xs-3 form-group" >
                    <label for="debtorAccount">Debtor Account: </label>
                    <input type="text" name="debtorAccount" class="form-control" id="debtorAccount" ng-model="data.debtorAccount">
                </div>

                <!-- Debtor BICFI -->
                <div class="col-xs-3 form-group" >
                    <label for="debtorBICFI">Debtor BICFI: </label>
                    <input type="text" name="debtorBICFI" class="form-control" id="debtorBICFI" ng-model="data.debtorBICFI">
                </div>

                <!-- Debtor Postal Address -->
                <div class="col-xs-3 form-group" >
                    <label for="debtorPostalAddress">Debtor Postal Address: </label>
                    <input type="text" name="debtorPostalAddress" class="form-control" id="debtorPostalAddress" ng-model="data.debtorPostalAddress">
                </div>
            </div> 

            <div class="row">
                <!-- Intermediary Name -->
                <div class="col-xs-3 form-group" >
                    <label for="intermediaryName">Intermediary Name: </label>
                    <input type="text" name="intermediaryName" class="form-control" id="intermediaryName" ng-model="data.intermediaryName">
                </div>

                <!-- Intermediary Account -->
                <div class="col-xs-3 form-group" >
                    <label for="intermediaryAccount">Intermediary Account: </label>
                    <input type="text" name="intermediaryAccount" class="form-control" id="intermediaryAccount" ng-model="data.intermediaryAccount">
                </div>

                <!-- Intermediary BICFI -->
                <div class="col-xs-3 form-group" >
                    <label for="intermediaryBICFI">Intermediary BICFI: </label>
                    <input type="text" name="intermediaryBICFI" class="form-control" id="intermediaryBICFI" ng-model="data.intermediaryBICFI">
                </div>

                <!-- Intermediary Postal Address -->
                <div class="col-xs-3 form-group" >
                    <label for="intermediaryPostalAddress">Intermediary Postal Address: </label>
                    <input type="text" name="intermediaryPostalAddress" class="form-control" id="intermediaryPostalAddress" ng-model="data.intermediaryPostalAddress">
                </div>
            </div> 

            <button type="submit" class="btn btn-primary" onclick="submit_search_chaps()" ng-disabled="disableSubmitButton()">{{submit.text}}</button>
        </div>
        
    </form>

    <div class="clear-form-button">
      <button class="btn" ng-click="clearForm()">Clear Form</button>
    </div>
</div>

























<style media="screen" type="text/css">

.searchChapsPayment-submit-status-container {
    background-color: #def9db;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.searchChapsPayment-submit-status-container-failed{
    background-color: #900C3F;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f2f2f2;
}

.result-header{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

#submit-searchChaps-container{
    margin-top:20px; 
    margin-bottom:20px;
    width: 98%;
}


.clear-form-button{
    display: inline;
    float: right;
}

.invalid-feedback{
    width: 100%;
    margin-top: .55rem;
    font-size: 80%;
    color: #dc3545;
}
</style>





<script>

    angular.element(document).ready(function () {
        console.log('init search chaps payment');
        init_searchChapsPayment();
    });

    function init_searchChapsPayment() {
        
        var scope = angular.element($("#submit-searchChaps-container")).scope();
        if (typeof(scope.result) === "undefined") {
            scope.result = {
                text: "",
                payment: "",
                success: false
            };

            show = false;
            scope.submit = {
                inprogress: false,
                text: 'Search Chaps Payment'
            };

            scope.data = {};

            scope.generateInputValues = function(scope) {
                console.log('Initializing input values');
                scope.data.direction = "0";
                scope.data.status = "0";
                scope.data.creditDebit = "0";
                scope.data.scheme = "0";
                scope.data.paymentType = "0";
                scope.data.paymentTimestampDate = '';
                scope.data.paymentTimestampTime = '';
            };

            scope.generateInputValues(scope);

            scope.clearForm = function(){
                var scope2 = angular.element($("#submit-searchChaps-container")).scope();
                scope2.data = {};
                scope2.generateInputValues(scope2);
            };

            

            scope.getActualDate = function() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd;
                console.log('Actual date generated: ' + today);
                return today;
            };

            scope.validateDate = function(dateStr) {
                if(!/^\d{4}\-\d{2}\-\d{2}$/.test(dateStr))
                    return false;

                var params = dateStr.split('-');

                var year = parseInt(params[0]);
                var month = parseInt(params[1]);
                var day = parseInt(params[2]);
                

                console.log('Payment Date ', day, month, year);

                if (year < 2000 || year > 2050 || month < 1 || month > 12 || day < 0 || day > 31)
                    return false;

                var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

                if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                    monthLength[1] = 29;

                if (day > monthLength[month -1])
                    return false;

                return true;
            };

            scope.validateTime = function(timeStr) {
                if(!/^\d{2}:\d{2}:\d{2}$/.test(timeStr))
                    return false;

                var params = timeStr.split(':');

                var hour = parseInt(params[0]);
                var minute = parseInt(params[1]);
                var second = parseInt(params[2]);

                console.log('Payment Time ', hour, minute, second);

                if (hour < 0 || hour > 23 || minute < 0 || minute > 59 || second < 0 || second > 59)
                    return false;

                return true;
            };

            scope.disableSubmitButton = function() {
                var scope2 = angular.element($("#submit-searchChaps-container")).scope();
                var result = false;

                if (scope2.data.paymentTimestampDate !== null && scope2.data.paymentTimestampDate !== undefined && scope2.data.paymentTimestampDate !== '') {
                    if (!scope2.validateDate(scope2.data.paymentTimestampDate)) {
                        result = true;
                    }
                }

                if (scope2.data.paymentTimestampTime !== null && scope2.data.paymentTimestampTime !== undefined && scope2.data.paymentTimestampTime !== '') {
                    if (!scope2.validateTime(scope2.data.paymentTimestampTime)) {
                        result = true;
                    }
                }

                return result;
            };

        }
    }

    function getObjStr(field, value, exactMatch){
        var result = '{"field":';
        result = result.concat('"').concat(field).concat('", "value":"').concat(value).concat('", "exactMatch":').concat(exactMatch).concat('}');
        return result;
    }

    

    function checkAnyFieldFilled(scope) {
        var result = [];

        console.log('paymentType: ' + scope.data.paymentType.toString());
        console.log('scheme: ' + scope.data.scheme.toString());
        console.log('direction: ' + scope.data.direction.toString());
        console.log('status: ' + scope.data.status.toString());
        console.log('creditDebit: ' + scope.data.creditDebit.toString());



        try {

            if (scope.data.direction != null && scope.data.direction != undefined && scope.data.direction != "0")
                result.push(getObjStr("direction", scope.data.direction.toString(), true));

            if (scope.data.status != null && scope.data.status != undefined && scope.data.status != "0")
                result.push(getObjStr("txstatus", scope.data.status.toString(), true));

            if (scope.data.creditDebit != null && scope.data.creditDebit != undefined && scope.data.creditDebit != "0")
                result.push(getObjStr("cdtdbtind", scope.data.creditDebit.toString(), true));

            if (scope.data.scheme != null && scope.data.scheme != undefined && scope.data.scheme != "0")
                result.push(getObjStr("paymentscheme", scope.data.scheme.toString(), true));

            if (scope.data.paymentType != null && scope.data.paymentType != undefined && scope.data.paymentType != "0")
                result.push(getObjStr("paymenttype", scope.data.paymentType.toString(), true));

            if (scope.data.paymentId != null && scope.data.paymentId != undefined && scope.data.paymentId != '')
                result.push(getObjStr("paymentId", scope.data.paymentId.toString(), false));

            if (scope.data.statusReason != null && scope.data.statusReason != undefined && scope.data.statusReason != '')
                result.push(getObjStr("stsrsninf", scope.data.statusReason.toString(), false));

            if (scope.data.transactionId != null && scope.data.transactionId != undefined && scope.data.transactionId != '')
                result.push(getObjStr("txid", scope.data.transactionId.toString(), false));

            if (scope.data.settlementAmount != null && scope.data.settlementAmount != undefined && scope.data.settlementAmount != '')
                result.push(getObjStr("intrbksttlamt", scope.data.settlementAmount.toString(), false));

            if (scope.data.currency != null && scope.data.currency != undefined && scope.data.currency != '')
                result.push(getObjStr("intrbksttlccy", scope.data.currency.toString(), false));

            if (scope.data.categoryPurpose != null && scope.data.categoryPurpose != undefined && scope.data.categoryPurpose != '')
                result.push(getObjStr("ctgypurp", scope.data.categoryPurpose.toString(), false));

            if (scope.data.intermediaryName != null && scope.data.intermediaryName != undefined && scope.data.intermediaryName != '')
                result.push(getObjStr("intrmydagt1_nm", scope.data.intermediaryName.toString(), false));

            if (scope.data.intermediaryPostalAddress != null && scope.data.intermediaryPostalAddress != undefined && scope.data.intermediaryPostalAddress != '')
                result.push(getObjStr("intrmydagt1_nm", scope.data.intermediaryPostalAddress.toString(), false));

            if (scope.data.intermediaryAccount != null && scope.data.intermediaryAccount != undefined && scope.data.intermediaryAccount != '')
                result.push(getObjStr("intrmydagt1_pstladr", scope.data.intermediaryAccount.toString(), false));

            if (scope.data.intermediaryBICFI != null && scope.data.intermediaryBICFI != undefined && scope.data.intermediaryBICFI != '')
                result.push(getObjStr("intrmydagt1_bicfi", scope.data.intermediaryBICFI.toString(), false));

            if (scope.data.debtorName != null && scope.data.debtorName != undefined && scope.data.debtorName != '')
                result.push(getObjStr("dbtragt_nm", scope.data.debtorName.toString(), false));

            if (scope.data.debtorPostalAddress != null && scope.data.debtorPostalAddress != undefined && scope.data.debtorPostalAddress != '')
                result.push(getObjStr("dbtragt_pstladr", scope.data.debtorPostalAddress.toString(), false));

            if (scope.data.debtorAccount != null && scope.data.debtorAccount != undefined && scope.data.debtorAccount != '')
                result.push(getObjStr("dbtragt_acct", scope.data.debtorAccount.toString(), false));

            if (scope.data.debtorBICFI != null && scope.data.debtorBICFI != undefined && scope.data.debtorBICFI != '')
                result.push(getObjStr("dbtragt_bicfi", scope.data.debtorBICFI.toString(), false));

            if (scope.data.creditorName != null && scope.data.creditorName != undefined && scope.data.creditorName != '')
                result.push(getObjStr("cdtragt_nm", scope.data.creditorName.toString(), false));

            if (scope.data.creditorPostalAddress != null && scope.data.creditorPostalAddress != undefined && scope.data.creditorPostalAddress != '')
                result.push(getObjStr("cdtragt_pstladr", scope.data.creditorPostalAddress.toString(), false));

            if (scope.data.creditorAccount != null && scope.data.creditorAccount != undefined && scope.data.creditorAccount != '')
                result.push(getObjStr("cdtragt_acct", scope.data.creditorAccount.toString(), false));

            if (scope.data.creditorBICFI != null && scope.data.creditorBICFI != undefined && scope.data.creditorBICFI != '')
                result.push(getObjStr("cdtragt_bicfi", scope.data.creditorBICFI.toString(), false));

            if (scope.data.returnedPaymentId != null && scope.data.returnedPaymentId != undefined && scope.data.returnedPaymentId != '')
                result.push(getObjStr("returnedpaymentid", scope.data.returnedPaymentId.toString(), false));

            if (scope.data.returnCode != null && scope.data.returnCode != undefined && scope.data.returnCode != '')
                result.push(getObjStr("returncode", scope.data.returnCode.toString(), false));

            if (scope.data.remitanceInfo != null && scope.data.remitanceInfo != undefined && scope.data.remitanceInfo != '')
                result.push(getObjStr("rmtinf", scope.data.remitanceInfo.toString(), false));
            
        } catch (err) {
            console.error('Error parsing fields. Error message: ' + err);
        }

        console.log('Result: ' + result);

        var results = JSON.parse("[" + result + "]");

        console.log('Result JSON: ' + JSON.stringify(result));

        return results;
    }

    function doQuery(scope) {
        var sqlString = '';

        var fields = checkAnyFieldFilled(scope);

        console.log('fields: ' + fields);

        if (fields.length > 0) {
            var and = false;
            sqlString = "WHERE ";

            for (i = 0; i < fields.length; i++) { 
                var obj = fields[i];
                if (and)
                    sqlString = sqlString.concat(" AND ");


                sqlString = sqlString.concat(obj.field);
                if (!obj.exactMatch)
                    sqlString = sqlString.concat(" LIKE '%");
                else
                    sqlString = sqlString.concat(" = '");

                sqlString = sqlString.concat(obj.value);

                if (!obj.exactMatch)
                    sqlString = sqlString.concat("%");

                sqlString = sqlString.concat("'");

                and = true;
            }
        }

        var queryDateTimes = addDateTimes(scope, and);
        sqlString = sqlString.concat(queryDateTimes);

        console.log("Query: " + sqlString);
        return sqlString;
    }

    function addDateTimes(scope, and) {
        console.log('Generating Date & Time Query');
        var sqlString = "";

        if ((scope.data.paymentTimestampDate !== null && scope.data.paymentTimestampDate !== undefined && scope.data.paymentTimestampDate !== '') ||
            (scope.data.paymentTimestampTime !== null && scope.data.paymentTimestampTime !== undefined && scope.data.paymentTimestampTime !== '')) {
            console.log("Retrieving dates.");

            if (!and) {
                sqlString = sqlString.concat(" WHERE ");
            }

            var paymentTimestampDateFilled = false;
            var paymentTimestampTimeFilled = false;
        
            var paymentTimestampDateTimeFilled = false;
    

            var paymentTimestampTimeStr = "00:00:00";
            var paymentEndTimestampTimeStr = "23:59:59";
        

            var paymentTimestampDateTimeStr;
            var paymentEndTimestampDateTimeStr;
    


            if (scope.data.paymentTimestampDate !== null && scope.data.paymentTimestampDate !== undefined && scope.data.paymentTimestampDate !== '') {
                paymentTimestampDateFilled = true;
            }
            if (scope.data.paymentTimestampTime !== null && scope.data.paymentTimestampTime !== undefined && scope.data.paymentTimestampTime !== '') {
                paymentTimestampTimeFilled = true;
            }
        

        
            if (paymentTimestampDateFilled && paymentTimestampTimeFilled) {
                paymentTimestampDateTimeStr = scope.data.paymentTimestampDate + " " + scope.data.paymentTimestampTime;
            } else if(paymentTimestampDateFilled && !paymentTimestampTimeFilled) {
                paymentTimestampDateTimeStr = scope.data.paymentTimestampDate + " " + paymentTimestampTimeStr;
            } else if (!paymentTimestampDateFilled && paymentTimestampTimeFilled) {
                paymentTimestampDateTimeStr =  scope.getActualDate() + " " + scope.data.paymentTimestampTime;
            }
    

            if (paymentTimestampDateTimeStr !== null && paymentTimestampDateTimeStr !== undefined && paymentTimestampDateTimeStr !== '') {
                paymentTimestampDateTimeFilled = true;
                if(paymentTimestampDateFilled){
                    paymentEndTimestampDateTimeStr = scope.data.paymentTimestampDate + " " + paymentEndTimestampTimeStr;
                }else{
                    paymentEndTimestampDateTimeStr = scope.getActualDate() + " " + paymentEndTimestampTimeStr;
                }
                
            }

            if (paymentTimestampDateTimeFilled) {
                if (and) {
                    sqlString = sqlString + " AND ";
                }
            
                sqlString = sqlString + "paymenttimestamp >= '" + paymentTimestampDateTimeStr+"' AND paymenttimestamp <= '" + paymentEndTimestampDateTimeStr+"'";
            }
        }

        console.log('Query: ' + sqlString);
        return sqlString;
    }


    function submit_search_chaps() {
        var scope = angular.element($("#submit-searchChaps-container")).scope();

        
        var query = doQuery(scope);

        console.log('Submitting search payment ', query);
        
        scope.z.angularBind('query', query, '20180619-073855_945887381');
        scope.z.runParagraph('20180619-073855_945887381');

    }

    
</script>