%angular
<div  id="submit-sendPassFailChapsSanction-container">
    <div ng-show="show" ng-class="{'sendPassFailChapsSanction-submit-status-container-failed': !result.success, 'sendPassFailChapsSanction-submit-status-container': result.success}">
        <div class="result-header">{{result.text}}</div>
    </div>


    <form name="sendPassFailChapsSanctionForm" id="post-sendPassFailChapsSanction-form">
        <div class= "form-group">
            <div class="row">
                <!-- Sanction Request Id -->
                <div class="col-xs-3 form-group" >
                    <label for="sanctionRequestId">Sanction Request Id: </label>
                    <input type="text" name="sanctionRequestId" class="form-control" id="sanctionRequestId" ng-model="data.sanctionRequestId">
                </div>

                <!-- Sanction Action -->
                <div class="col-xs-3 form-group">
                    <label for="sanctionAction">Sanction Action: </label>
                    <select class="form-control" id="sanctionAction" ng-model="data.sanctionAction">
                        <option value="0">-- Select an option --</option>
                        <option value="PASS">Pass</option>
                        <option value="FAIL">Fail</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="submit_send_pass_fail_sanction()" ng-disabled="disableSubmitButton()">{{submit.text}}</button>
        </div>
        
    </form>

    <div class="clear-form-button">
      <button class="btn" ng-click="clearForm()">Clear Form</button>
    </div>
</div>

























<style media="screen" type="text/css">

.sendPassFailChapsSanction-submit-status-container {
    background-color: #def9db;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.sendPassFailChapsSanction-submit-status-container-failed{
    background-color: #900C3F;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f2f2f2;
}

.result-header{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

#submit-sendPassFailChapsSanction-container{
    margin-top:20px; 
    margin-bottom:20px;
    width: 98%;
}


.clear-form-button{
    display: inline;
    float: right;
}

.invalid-feedback{
    width: 100%;
    margin-top: .55rem;
    font-size: 80%;
    color: #dc3545;
}
</style>





<script>

    angular.element(document).ready(function () {
        console.log('init send pass fail chaps sanction');
        init_sendPassFailChapsSanction();
    });

    function init_sendPassFailChapsSanction() {
        var scope = angular.element($("#submit-sendPassFailChapsSanction-container")).scope();
        if (typeof(scope.result)=== "undefined") {
            scope.result = {
                text: "",
                success: false
            };

            show = false;
            scope.submit = {
                inprogress: false,
                text: 'Send Sanction'
            };

            scope.data = {};

            scope.generateInputValues = function(scope) {
                console.log('Initializing input values');
                scope.data.sanctionAction = "0";
            };

            scope.generateInputValues(scope);

            scope.clearForm = function(){
                var scope = angular.element($("#submit-sendPassFailChapsSanction-container")).scope();
                scope.data = {};
                scope.generateInputValues(scope);
            };

            scope.disableSubmitButton = function() {
                var scope = angular.element($("#submit-sendPassFailChapsSanction-container")).scope();

                if (scope.data.sanctionRequestId == null || scope.data.sanctionRequestId == undefined || scope.data.sanctionRequestId == '') {
                    return true;
                }

                if (scope.data.sanctionAction == null || scope.data.sanctionAction == undefined || scope.data.sanctionAction == '0') {
                    return true;
                }

                return false;
            };

        }
    }



    function getData(scope) {
            var data = JSON.stringify(
            {
                'sanctionsRequestId': scope.data.sanctionRequestId,
                'sanctionAction' : scope.data.sanctionAction
            });

        return data;
    }

    function reloadSanctions(){
        var scope = angular.element($("#submit-sendPassFailChapsSanction-container")).scope();
        scope.z.runParagraph('20180619-074807_684250220');
    }

    function do_ajax_query_send_sanction_chaps(scope) {
        scope.show = false;
        scope.submit.inprogress = true;
        var textBefore = scope.submit.text;
        scope.submit.text = "Submitting...";

        var xhr = new XMLHttpRequest();
        var url = "http://52.212.192.94:8181/bifrost/sanctions/sendSanction";

        var data  = getData(scope);

        console.log('Send Sanction payment URL obtained: ' + url);
        xhr.timeout = 25000; //25 seconds
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log('Chaps Sanction response: ' + xhr.responseText);
                    scope.result.text = "Sanction send successfully";
                    scope.result.success = true;
                    scope.show = true;
                    scope.$apply(); 
                } else {
                    scope.result.text = "Error sending chaps sanction";
                    scope.result.success = false;
                    scope.show = true;
                    scope.$apply(); 
                }
            }

            scope.submit.inprogress = false;
            scope.submit.text = textBefore;
            reloadSanctions();
        };

        console.log('sending data: ' + data);
        xhr.send(data);
    }

    function submit_send_pass_fail_sanction() {
        var scope = angular.element($("#submit-sendPassFailChapsSanction-container")).scope();
        do_ajax_query_send_sanction_chaps(scope);
    }

    
</script>