%angular
<div  id="submit-sendChapsPayment-container">
    <div ng-show="show" ng-class="{'sendChapsPayment-submit-status-container-failed': !result.success, 'sendChapsPayment-submit-status-container': result.success}">
        <div class="result-header">{{result.text}}</div>
        <div class="result-details row" ng-show="show">
            <div class="col-xs-3">
                <label>Chaps Payment: </label>
                <div>{{result.payment}}</div>
             </div>
        </div>
    </div>

    <form name="sendChapsPaymentForm" id="post-sendChapsPayment-form">
        <div class= "form-group">
            <div class="row">
                <!-- UserName -->
                <div class="col-xs-3 form-group" >
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" id="username" ng-model="data.username">
                </div>

                <!-- Password -->
                <div class="col-xs-3 form-group" >
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" id="password" ng-model="data.password">
                </div>
            </div>

            <div class="row">
                <!-- Payment Type -->
                <div class="col-xs-3 form-group">
                     <label for="paymentType" id="paymentTypeLabel">Payment Type: </label>
                        <select class="form-control" id="paymentType" ng-model="data.paymentType">
                            <option value="MT103">MT103</option>
                            <option value="MT202">MT202</option>
                        </select>
                </div>

                <!-- Priority -->
                <div class="col-xs-3 form-group">
                     <label for="priority" id="priorityLabel">Priority: </label>
                        <select class="form-control" id="priority" ng-model="data.priority">
                            <option value="U">Urgent</option>
                            <option value="N">Not Urgent</option>
                        </select>
                </div>

                <!-- Value Date -->
                <div class="col-xs-3 form-group" >
                    <label for="valueDate">Value Date: </label>
                    <input type="text" name="valueDate" class="form-control" id="valueDate" ng-model="data.valueDate" ng-disabled=true>
                </div>

                                <!-- Chaps Related Reference -->
                <div class="col-xs-3 form-group" ng-show = "data.paymentType == 'MT202'">
                    <label for="relatedReference">Chaps Related Reference: </label>
                    <input type="text" name="relatedReference" class="form-control" id="relatedReference" ng-model="data.relatedReference">
                </div>
            </div>


            <div class="row">
                <!-- Currency -->
                <div class="col-xs-3 form-group" >
                    <label for="currency">Currency: </label>
                    <input type="text" name="currency" class="form-control" id="currency" ng-model="data.currency" ng-disabled=true>
                </div>

                <!-- Settlement Amount / Instructed Amount -->
                <div class="col-xs-3 form-group" >
                    <label for="settlementAmt">Settlement Amount: </label>
                    <input type="text" name="settlementAmt" class="form-control" id="settlementAmt" ng-model="data.settlementAmt">
                    <span class="invalid-feedback" ng-show="settlementAmt.$touched && data.settlementAmt == null || data.settlementAmt == ''">This field is required</span>
                    <span class="invalid-feedback" ng-show="checkNumber(data.settlementAmt)">This field must be numeric</span>
                </div>
            </div>


            <!-- Debtor -->
            <div class="row"><div class="col-xs-12 form-group" ><h3>Debtor Data</h3><div></div>

            <div class="row">
                <!-- Debtor Account Number -->
                <div class="col-xs-3 form-group" >
                    <label for="dbtrAcctNumber">Debtor Account Number: </label>
                    <input type="text" name="dbtrAcctNumber" class="form-control" id="dbtrAcctNumber" ng-model="data.dbtrAcctNumber">
                    <span class="invalid-feedback" ng-show="dbtrAcctNumber.$touched && data.dbtrAcctNumber == null || data.dbtrAcctNumber == ''">This field is required</span>
                </div>

                <!-- Debtor Name -->
                <div class="col-xs-3 form-group" >
                    <label for="dbtrNm">Debtor Name: </label>
                    <input type="text" name="dbtrNm" class="form-control" id="dbtrNm" ng-model="data.dbtrNm">
                    <span class="invalid-feedback" ng-show="dbtrNm.$touched && data.dbtrNm == null || data.dbtrNm == ''">This field is required</span>
                </div>

                <!-- Debtor Address -->
                <div class="col-xs-3 form-group" >
                    <label for="dbtrAddr">Debtor Address: </label>
                    <input type="text" name="dbtrAddr" class="form-control" id="dbtrAddr" ng-model="data.dbtrAddr">
                </div>

                <!-- Debtor BIC -->
                <div class="col-xs-3 form-group" >
                    <label for="dbtrBIC">Debtor BIC: </label>
                    <input type="text" name="dbtrBIC" class="form-control" id="dbtrBIC" ng-model="data.dbtrBIC">
                    <span class="invalid-feedback" ng-show="dbtrBIC.$touched && data.dbtrBIC == null || data.dbtrBIC == ''">This field is required</span>
                </div>
            </div>


            <div class="row">
                <!-- Intermediary BIC -->
                <div class="col-xs-3 form-group" >
                    <label for="intermediaryBIC">Intermediary BIC: </label>
                    <input type="text" name="intermediaryBIC" class="form-control" id="intermediaryBIC" ng-model="data.intermediaryBIC">
                </div>
            </div>


            <!-- Creditor -->
            <div class="row"><div class="col-xs-12 form-group" ><h3>Creditor Data</h3><div></div>

            <div class="row">
                <!-- Creditor BIC -->
                <div class="col-xs-3 form-group" >
                    <label for="cdtrBIC">Creditor BIC: </label>
                    <input type="text" name="cdtrBIC" class="form-control" id="cdtrBIC" ng-model="data.cdtrBIC">
                    <span class="invalid-feedback" ng-show="checkMultipleChoice()">Creditor BIC and Sortcode should not be both filled</span>
                </div>

                <!-- Creditor Sortcode -->
                <div class="col-xs-3 form-group" >
                    <label for="cdtrSortcode">Creditor Sortcode: </label>
                    <input type="text" name="cdtrSortcode" class="form-control" id="cdtrSortcode" ng-model="data.cdtrSortcode">
                    <span class="invalid-feedback" ng-show="checkMultipleChoice()">Creditor BIC or Sortcode should not be both filled</span>
                </div>

                <!-- Creditor Account Number -->
                <div class="col-xs-3 form-group" >
                    <label for="cdtrAcctNumber">Creditor Account Number: </label>
                    <input type="text" name="cdtrAcctNumber" class="form-control" id="cdtrAcctNumber" ng-model="data.cdtrAcctNumber">
                    <!-- <span class="invalid-feedback" ng-show="cdtrAcctNumber.$touched && data.cdtrAcctNumber == null || data.cdtrAcctNumber == ''">This field is required</span> -->
                    <span class="invalid-feedback" ng-show="checkMandatoryCdtrAccountNumber()">This field is required</span>
                    <span class="invalid-feedback" ng-show="checkChoiceCdtrAccountNameNumber()">Creditor Account Number or Creditor Name should not be both filled</span>
                </div>

                <!-- Creditor Name -->
                <div class="col-xs-3 form-group" >
                    <label for="cdtrNm">Creditor Name: </label>
                    <input type="text" name="cdtrNm" class="form-control" id="cdtrNm" ng-model="data.cdtrNm">
                    <!--  <span class="invalid-feedback" ng-show="cdtrNm.$touched && data.cdtrNm == null || data.cdtrNm == ''">This field is required</span> -->
                    <span class="invalid-feedback" ng-show="checkMandatoryCdtrAccountName()">This field is required</span>
                    <span class="invalid-feedback" ng-show="checkChoiceCdtrAccountNameNumber()">Creditor Account Number or Creditor Name should not be both filled</span>
                </div>
            </div>


            <div class="row">
                <!-- Creditor Address -->
                <div class="col-xs-3 form-group" >
                    <label for="cdtrAddr">Creditor Address: </label>
                    <input type="text" name="cdtrAddr" class="form-control" id="cdtrAddr" ng-model="data.cdtrAddr">
                </div>
            </div>


            <div class="row">
                <!-- Remittance Information -->
                <div class="col-xs-3 form-group" >
                    <label for="remitanceInfo">Remittance Information: </label>
                    <input type="text" name="remitanceInfo" class="form-control" id="remitanceInfo" ng-model="data.remitanceInfo">
                </div>

                <!-- Details of charges -->
                <div class="col-xs-3 form-group" >
                    <label for="detailsOfCharges">Details of charges: </label>
                    <input type="text" name="detailsOfCharges" class="form-control" id="detailsOfCharges" ng-model="data.detailsOfCharges" ng-disabled=true>
                </div>

                <!-- Sender to Receiver Information -->
                <div class="col-xs-3 form-group" >
                    <label for="senderReceiverInfo">Sender to Receiver Information: </label>
                    <input type="text" name="senderReceiverInfo" class="form-control" id="senderReceiverInfo" ng-model="data.senderReceiverInfo">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="submit_send_chaps()" ng-disabled="disableSendButton()">{{submit.text}}</button>
        </div>
        
    </form>

    <div class="clear-form-button">
      <button class="btn" ng-click="clearForm()">Clear Form</button>
    </div>
</div>

























<style media="screen" type="text/css">

.sendChapsPayment-submit-status-container {
    background-color: #def9db;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.sendChapsPayment-submit-status-container-failed{
    background-color: #900C3F;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f2f2f2;
}

.result-header{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

#submit-sendChapsPayment-container{
    margin-top:20px; 
    margin-bottom:20px;
    width: 98%;
}


.clear-form-button{
    display: inline;
    float: right;
}

.invalid-feedback{
    width: 100%;
    margin-top: .55rem;
    font-size: 80%;
    color: #dc3545;
}
</style>





<script>

    angular.element(document).ready(function () {
        console.log('init send chaps payment');
        init_sendChapsPayment();
    });

    function init_sendChapsPayment() {
        var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
        if (typeof(scope.result)=== "undefined") {
            scope.result = {
                text: "",
                payment: "",
                success: false
            };

            show = false;
            scope.submit = {
                inprogress: false,
                text: 'Send Chaps Payment'
            };

            scope.data = {};

            scope.getActualDate = function() {
                //yyyy-MM-dd
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = "" + today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + "-" + mm + "-" + dd;

                console.log('Initializing Value date with actual date: ' + today);
                return today;
            };

            scope.generateInputValues = function() {
                console.log('Initializing input values');
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                scope.data.paymentType = "MT103";
                scope.data.priority = "U";
                scope.data.valueDate = scope.getActualDate();
                scope.data.currency = "GBP";
                scope.data.dbtrBIC = "ORUNGB3L";
                scope.data.detailsOfCharges = "SHA";
                var d = new Date();
            };

            scope.generateInputValues(scope);

            scope.clearForm = function(){
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                scope.data = {};
                scope.generateInputValues(scope);
            }; 

            scope.disableSendButton = function () {
                if (scope.submit.inprogress) {
                    return true;
                }

                if (scope.data.username == null || scope.data.username == undefined || scope.data.username == '') {
                    return true;
                }

                if (scope.data.password == null || scope.data.password == undefined || scope.data.password == '') {
                    return true;
                }

                if (scope.data.paymentType == null || scope.data.paymentType == undefined || scope.data.paymentType == '0') {
                    return true;
                }

                if (scope.data.paymentType == 'MT202') {
                     if (scope.data.relatedReference == null || scope.data.relatedReference == undefined || scope.data.relatedReference == '0') {
                        return true;
                    }
                }

                if (scope.data.settlementAmt == null || scope.data.settlementAmt == undefined ||scope.data.settlementAmt == '') {
                    return true;
                }

                if (scope.data.paymentType == 'MT103') {
                    if (scope.data.dbtrAcctNumber == null || scope.data.dbtrAcctNumber == undefined ||scope.data.dbtrAcctNumber == '') {
                        return true;
                     }
                }

                if (scope.data.paymentType == 'MT103' && (scope.data.dbtrNm == null || scope.data.dbtrNm == undefined ||scope.data.dbtrNm == '')) {
                    return true;
                }

                if (scope.data.dbtrBIC == null || scope.data.dbtrBIC == undefined ||scope.data.dbtrBIC == '') {
                    return true;
                }

                if (scope.data.paymentType == 'MT202') {
                    var choice = 0;

                    if (scope.data.cdtrAcctNumber == null || scope.data.cdtrAcctNumber == undefined || scope.data.cdtrAcctNumber == '') {
                        choice++;
                    }

                    if (scope.data.cdtrNm == null || scope.data.cdtrNm == undefined || scope.data.cdtrNm == '') {
                        choice++;
                    }

                    if (choice != 1) {
                       return true;
                    }
                } else {
                    if (scope.data.cdtrAcctNumber == null || scope.data.cdtrAcctNumber == undefined ||scope.data.cdtrAcctNumber == '') {
                        return true;
                    }

                    if (scope.data.cdtrNm == null || scope.data.cdtrNm == undefined ||scope.data.cdtrNm == '') {
                        return true;
                    }
                }

                choice = 0;
                if (scope.data.cdtrBIC == null || scope.data.cdtrBIC == undefined || scope.data.cdtrBIC == '') {
                    choice++;
                }

                if (scope.data.cdtrSortcode == null || scope.data.cdtrSortcode == undefined || scope.data.cdtrSortcode == '') {
                    choice++;
                }

                if (choice != 1) {
                    return true;
                }

                return false;
            };

            scope.checkNumber = function(data){
                var result = false;
                if (data != null && data != undefined && data != '') {
                    if (isNaN(data)) {
                        result = true;
                    }
                }
                return result;
            };

            scope.checkMultipleChoice = function(){
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                var cdtrBicValue = scope.data.cdtrBIC;
                var cdtrSortcodeValue = scope.data.cdtrSortcode;
                var result = false;

                if (cdtrBicValue != null && cdtrBicValue != undefined && cdtrBicValue != '' &&
                    cdtrSortcodeValue != null && cdtrSortcodeValue != undefined && cdtrSortcodeValue != '') {
                    result = true;
                }

                return result;
            };

            scope.checkChoiceCdtrAccountNameNumber = function(){
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                var cdtrAccountNumber = scope.data.cdtrAcctNumber;
                var cdtrName = scope.data.cdtrNm;
                var paymentType = scope.data.paymentType;
                var result = false;

                if (paymentType != null && paymentType != undefined && paymentType == 'MT202') {
                    if (cdtrAccountNumber != null && cdtrAccountNumber != undefined && cdtrAccountNumber != '' &&
                        cdtrName != null && cdtrName != undefined && cdtrName != '') {
                        result = true;
                    }
                }

                return result;
            };

            scope.checkMandatoryCdtrAccountName = function(){
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                var cdtrAccountName = scope.data.cdtrNm;
                var paymentType = scope.data.paymentType;
                var result = false;

                if (cdtrAccountName != undefined && paymentType != null && paymentType != undefined && paymentType == 'MT103') {
                    if (cdtrAccountName == null || cdtrAccountName == undefined || cdtrAccountName == '') {
                        result = true;
                    }
                }

                return result;
            };

            scope.checkMandatoryCdtrAccountNumber = function(){
                //var scope = angular.element($("#submit-sendChapsPayment-container")).scope();
                var cdtrAccountNumber = scope.data.cdtrAcctNumber;
                var paymentType = scope.data.paymentType;
                var result = false;

                if (cdtrAccountNumber != undefined && paymentType != null && paymentType != undefined && paymentType == 'MT103') {
                    if (cdtrAccountNumber == null || cdtrAccountNumber == undefined || cdtrAccountNumber == '') {
                        result = true;
                    }
                }

                return result;
            };

        }
    }

    function do_ajax_query_send_chaps(scope, data, token) {
        scope.show = false;
        scope.submit.inprogress = true;
        scope.submit.text = "Submitting...";

        console.log('Token: Bearer ', token);

        var xhrTokenChaps = new XMLHttpRequest();
        var url = "https://api-0.node.consul:8183/bifrost/chaps/payment";
        console.log('Send chaps payment URL obtained: ' + url);
        xhrTokenChaps.timeout = 25000; //25 seconds
        xhrTokenChaps.open("POST", url, true);
        xhrTokenChaps.setRequestHeader('Authorization', 'Bearer ' + token);
        xhrTokenChaps.setRequestHeader('Content-type', 'application/json');
        xhrTokenChaps.onreadystatechange = function () {
            if (xhrTokenChaps.readyState === 4) {
                if (xhrTokenChaps.status === 200) {
                    console.log('Chaps payment response: ' + xhrTokenChaps.responseText);
                    var result = JSON.parse(xhrTokenChaps.responseText);
                    scope.result.text = "Chaps Payment sent Successfully";
                    scope.result.payment = xhrTokenChaps.responseText;
                    scope.result.success = true;
                    scope.show = true;
                    scope.$apply(); 
                } else {
                    scope.result.text = "Error sending chaps payment";
                    scope.result.payment = xhrTokenChaps.responseText;
                    scope.result.success = false;
                    scope.show = true;
                    scope.$apply(); 
                }
            }

            scope.submit.inprogress = false;
            scope.submit.text = "Send Chaps Payment"
        };

        console.log('sending data: ' + data);
        xhrTokenChaps.send(data);
        
    }

    function send_chaps_with_token(token, scope) {
        if (token != undefined && token != null && token != '') {
            console.log('Payment Type: ' + scope.data.paymentType);
            console.log('Priority: ' + scope.data.priority);
            
            var dbtrAddrValue = [];
            if (scope.data.dbtrAddr != null && scope.data.dbtrAddr != undefined && scope.data.dbtrAddr != '') {
              dbtrAddrValue = [scope.data.dbtrAddr];
            }
            
            var cdtrAddrValue = [];
            if (scope.data.cdtrAddr != null && scope.data.cdtrAddr != undefined && scope.data.cdtrAddr != '') {
              cdtrAddrValue = [scope.data.cdtrAddr];
            }

            var relatedRefStr;
            if (scope.data.paymentType == 'MT202') {
                relatedRefStr = scope.data.relatedReference;
            }

            var data = JSON.stringify(
            {
                'paymentType': scope.data.paymentType,
                'priority' : scope.data.priority,
                'settlementAmt' : scope.data.settlementAmt,
                'dbtrAcctNumber' : scope.data.dbtrAcctNumber,
                'dbtrNm' : scope.data.dbtrNm,
                'dbtrAddr' : dbtrAddrValue,
                'dbtrBIC' : scope.data.dbtrBIC,
                'intermediaryBIC' : scope.data.intermediaryBIC,
                'cdtrBIC' : scope.data.cdtrBIC,
                'cdtrSortcode' : scope.data.cdtrSortcode,
                'cdtrAcctNumber' : scope.data.cdtrAcctNumber,
                'cdtrNm' : scope.data.cdtrNm,
                'cdtrAddr' : cdtrAddrValue,
                'remitanceInfo' : scope.data.remitanceInfo,
                'senderReceiverInfo' : scope.data.senderReceiverInfo,
                'relatedReference' : relatedRefStr
            });

            console.log('Data: ' + JSON.stringify(data));

            do_ajax_query_send_chaps(scope, data, token.trim());
        }
    }

    function do_ajax_query_send_token(scope, data) {
        scope.show = false;
        scope.submit.inprogress = true;
        scope.submit.text = "Submitting...";
        var token = '';

        var xhr = new XMLHttpRequest();
        var url = "https://api-0.node.consul:8285/bifrost/login/";
        console.log('Get user token URL obtained: ' + url);
        xhr.timeout = 25000; //25 seconds
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log('Chaps payment response: ' + xhr.responseText);
                    var result = JSON.parse(xhr.responseText);
                    token = result.access_token;
                    console.log('Token retrieved: ' + token);
                    send_chaps_with_token(token, scope);
                } else {
                    scope.result.text = "Error getting token";
                    scope.result.payment = xhr.responseText;
                    scope.result.success = false;
                    scope.submit.inprogress = false;
                    scope.submit.text = "Send Chaps Payment";
                    scope.show = true;
                    scope.$apply(); 
                }
            }
        };

        console.log('sending data: ' + data);
        xhr.send(data);
    }

    function submit_send_chaps(token) {
        var scope = angular.element($("#submit-sendChapsPayment-container")).scope();

        var tokenData = JSON.stringify(
        {
            'usr': scope.data.username,
            'pwd' : scope.data.password
        });

        var token = '';
        do_ajax_query_send_token(scope, tokenData);
    }
    
</script>