%angular
<div  id="submit-sendInternalPayment-container">
    <div ng-show="show" ng-class="{'sendInternalPayment-submit-status-container-failed': !result.success, 'sendInternalPayment-submit-status-container': result.success}">
        <div class="result-header">{{result.text}}</div>
        <div class="result-details row" ng-show="show">
            <div class="col-xs-3">
                <label>Internal Payment: </label>
                <div>{{result.payment}}</div>
             </div>
        </div>
    </div>

    <form name="sendInternalPaymentForm" id="post-sendInternalPayment-form">
        <div class= "form-group">
            <div class="row">
                <!-- UserName -->
                <div class="col-xs-3 form-group" >
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" id="username" ng-model="data.username">
                </div>

                <!-- Password -->
                <div class="col-xs-3 form-group" >
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" id="password" ng-model="data.password">
                </div>
            </div>
        </div>

        <div class= "form-group">
            <div class="row">
            <!-- Reference Info -->
                <div class="col-xs-4 form-group" ng-class="{'has-error': !sendInternalPaymentForm.remittanceInformation.$valid && sendInternalPaymentForm.remittanceInformation.$dirty}" >
                    <label for="remittanceInformation">Remittance Information: </label>
                    <input type="text" name="remittanceInformation" class="form-control" id="remittanceInformation" ng-model="data.remittanceInformation" ng-maxlength="18">
                    <div class="invalid-feedback" ng-show="!sendInternalPaymentForm.remittanceInformation.$valid && sendInternalPaymentForm.remittanceInformation.$dirty">
                        Maximum length is 18 characters
                    </div>
                </div>

            

            <!-- End to End Reference -->
                <div class="col-xs-4 form-group" ng-class="{'has-error': !sendInternalPaymentForm.endtoendId.$valid && sendInternalPaymentForm.endtoendId.$dirty}">
                    <label for="endtoendId">End to End Identification: </label>
                    <input type="text" name="endtoendId" class="form-control" id="endtoendId" ng-model="data.endtoendId" ng-maxlength="31">
                     <div class="invalid-feedback" ng-show="!sendInternalPaymentForm.endtoendId.$valid && sendInternalPaymentForm.endtoendId.$dirty">
                        Maximum length is 31 characters
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <!-- Currency -->
                <div class="col-xs-3 form-group" >
                    <label for="currency">Currency: </label>
                    <input type="text" name="currency" class="form-control" id="currency" ng-model="data.currency" ng-disabled=true>
                </div>

                <!-- Settlement Amount / Instructed Amount -->
                <div class="col-xs-3 form-group" >
                    <label for="settlementAmt">Settlement Amount: </label>
                    <input type="text" name="settlementAmt" class="form-control" id="settlementAmt" ng-model="data.settlementAmt">
                    <span class="invalid-feedback" ng-show="settlementAmt.$touched && data.settlementAmt == null || data.settlementAmt == ''">This field is required</span>
                    <span class="invalid-feedback" ng-show="checkNumber(data.settlementAmt)">This field must be numeric</span>
                </div>
            </div>


            <!-- Debtor -->
            <div class="row"><div class="col-xs-12 form-group" ><h3>Debtor Data</h3><div></div>

            <div class="row">
                <!-- Debtor Account Type -->
                <div class="col-xs-3 form-group">
                     <label for="debtorType" id="debtorTypeLabel">Debtor Account Type: </label>
                        <select class="form-control" id="debtorType" ng-model="data.debtorType">
                            <option value="InternalAccountNumber">Internal Account Number</option>
                            <option value="IBAN">IBAN</option>
                            <option value="SortCodeAccountNumber">Sortcode Account Number</option>
                            <option value="SpecialAccountNumber">Special Account Number</option>
                        </select>
                </div>

                <!-- Debtor Name -->
                <div class="col-xs-3 form-group">
                     <label for="debtorName" id="debtorNameLabel">Debtor Name: </label>
                        <input type="text" name="debtorName" class="form-control" id="debtorName" ng-model="data.debtorName">
                </div>

                <!-- Debtor Account Id -->
                <div class="col-xs-3 form-group" ng-show="data.debtorType !=='SpecialAccountNumber'"">
                    <label for="dbtrAcctId">Debtor Account Id: </label>
                    <input type="text" name="dbtrAcctId" class="form-control" id="dbtrAcctId" ng-model="data.dbtrAcctId">
                    <span class="invalid-feedback" ng-show="data.debtorType !== 'SpecialAccountNumber' && dbtrAcctId.$touched && data.dbtrAcctId === null || data.dbtrAcctId === ''">This field is required</span>
                </div>

                <!-- Debtor Special Account-->
                <div class="col-xs-3 form-group" ng-show="data.debtorType ==='SpecialAccountNumber'"">
                    <label for="dbtrSpecialAcct">Debtor Special Account: </label>
                    <select class="form-control" id="dbtrSpecialAcct" ng-model="data.dbtrSpecialAcct">
                        <option value="bacs">BACS Scheme</option>
                        <option value="exceptions_bacs">BACS Exception</option>
                        <option value="chaps">CHAPS Scheme</option>
                        <option value="exceptions">FPS Exception</option>
                        <option value="fps">FPS Scheme</option>
                        <option value="fpsboe">BoE Mirror</option>
                        <option value="gps">GPS Scheme</option>
                        <option value="sanctions">Sanctions</option>
                        <option value="sepa">SEPA Scheme</option>
                    </select>
                </div>

                                
            </div>


            <!-- Beneficiary -->
            <div class="row"><div class="col-xs-12 form-group" ><h3>Beneficiary Data</h3><div></div>

            <div class="row">
                <!-- Beneficiary Account Type -->
                <div class="col-xs-3 form-group">
                     <label for="beneficiaryType" id="beneficiaryTypeLabel">Beneficiary Account Type: </label>
                        <select class="form-control" id="beneficiaryType" ng-model="data.beneficiaryType">
                            <option value="InternalAccountNumber">Internal Account Number</option>
                            <option value="IBAN">IBAN</option>
                            <option value="SortCodeAccountNumber">Sortcode Account Number</option>
                            <option value="SpecialAccountNumber">Special Account Number</option>
                        </select>
                </div>

                <!-- Beneficiary Name -->
                <div class="col-xs-3 form-group">
                     <label for="beneficiaryName" id="beneficiaryNameLabel">Beneficiary Name: </label>
                        <input type="text" name="beneficiaryName" class="form-control" id="beneficiaryName" ng-model="data.beneficiaryName">
                </div>

                <!-- Beneficiary Account Id -->
                <div class="col-xs-3 form-group" ng-show="data.beneficiaryType !=='SpecialAccountNumber'"">
                    <label for="beneficiaryAcctId">Beneficiary Account Id: </label>
                    <input type="text" name="beneficiaryAcctId" class="form-control" id="beneficiaryAcctId" ng-model="data.beneficiaryAcctId">
                    <span class="invalid-feedback" ng-show="data.beneficiaryType !=='SpecialAccountNumber' && beneficiaryAcctId.$touched && data.beneficiaryAcctId === null || data.beneficiaryAcctId === ''">This field is required</span>
                </div>

                <!-- Beneficiary Special Account-->
                <div class="col-xs-3 form-group" ng-show="data.beneficiaryType ==='SpecialAccountNumber'"">
                    <label for="beneficiarySpecialAcct">Beneficiary Special Account: </label>
                    <select class="form-control" id="beneficiarySpecialAcct" ng-model="data.beneficiarySpecialAcct">
                        <option value="bacs">BACS Scheme</option>
                        <option value="exceptions_bacs">BACS Exception</option>
                        <option value="chaps">CHAPS Scheme</option>
                        <option value="exceptions">FPS Exception</option>
                        <option value="fps">FPS Scheme</option>
                        <option value="fpsboe">BoE Mirror</option>
                        <option value="gps">GPS Scheme</option>
                        <option value="sanctions">Sanctions</option>
                        <option value="sepa">SEPA Scheme</option>
                    </select>
                </div>

                                
            </div>


            <button type="submit" class="btn btn-primary" onclick="submit_send_internal()" ng-disabled="disableSendButton()">{{submit.text}}</button>
        </div>
        
    </form>

    <div class="clear-form-button">
      <button class="btn" ng-click="clearForm()">Clear Form</button>
    </div>
</div>







<style media="screen" type="text/css">

.sendInternalPayment-submit-status-container {
    background-color: #def9db;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.sendInternalPayment-submit-status-container-failed{
    background-color: #900C3F;
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #f2f2f2;
}

.result-header{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 3px;
}

#submit-sendInternalPayment-container{
    margin-top:20px; 
    margin-bottom:20px;
    width: 98%;
}


.clear-form-button{
    display: inline;
    float: right;
}

.invalid-feedback{
    width: 100%;
    margin-top: .55rem;
    font-size: 80%;
    color: #dc3545;
}
</style>




<script>

    angular.element(document).ready(function () {
        console.log('init send internal payment');
        init_sendInternalPayment();
    });

    function init_sendInternalPayment() {
        var scope = angular.element($("#submit-sendInternalPayment-container")).scope();
        if (typeof(scope.result)=== "undefined") {
            scope.result = {
                text: "",
                payment: "",
                success: false
            };

            show = false;
            scope.submit = {
                inprogress: false,
                text: 'Send Internal Payment'
            };

            scope.data = {};

            scope.generateInputValues = function() {
                console.log('Initializing input values');                        
                scope.data.currency = "GBP";                
            };

            scope.generateInputValues();

            scope.clearForm = function(){
                scope.data = {};
                scope.generateInputValues();
            }; 

            scope.disableSendButton = function () {
                
                if (scope.submit.inprogress) {
                    return true;
                }

                if (scope.data.username === null || scope.data.username === undefined || scope.data.username === '') {
                    return true;
                }

                if (scope.data.password === null || scope.data.password === undefined || scope.data.password === '') {
                    return true;
                }


                if (scope.data.settlementAmt === null || scope.data.settlementAmt === undefined ||scope.data.settlementAmt === '' || scope.checkNumber(scope.data.settlementAmt)) {
                    return true;
                }

                if (scope.data.debtorType === null || scope.data.debtorType === undefined ||scope.data.debtorType === '') {
                    return true;
                }

                if (scope.data.beneficiaryType === null || scope.data.beneficiaryType === undefined ||scope.data.beneficiaryType === '') {
                    return true;
                }

                if(scope.data.debtorType === 'SpecialAccountNumber'){                
                    if (scope.data.dbtrSpecialAcct === null || scope.data.dbtrSpecialAcct === undefined ||scope.data.dbtrSpecialAcct === '') {
                        return true;
                    }
                }else{
                    
                    if (scope.data.dbtrAcctId === null || scope.data.dbtrAcctId === undefined ||scope.data.dbtrAcctId === '') {
                        return true;
                    }
                }

                if(scope.data.beneficiaryType === 'SpecialAccountNumber'){
                    if (scope.data.beneficiarySpecialAcct === null || scope.data.beneficiarySpecialAcct === undefined ||scope.data.beneficiarySpecialAcct === '') {
                        return true;
                    }
                }else{
                    if (scope.data.beneficiaryAcctId === null || scope.data.beneficiaryAcctId === undefined ||scope.data.beneficiaryAcctId === '') {
                        return true;
                    }
                }             


                return false;
            };

            scope.checkNumber = function(data){
                var result = false;
                if (data !== null && data !== undefined && data !== '') {
                    if (isNaN(data)) {
                        result = true;
                    }
                }
                return result;
            };


        }
    }

    function do_ajax_query_send_internal(scope, data, token) {
        scope.show = false;
        scope.submit.inprogress = true;
        scope.submit.text = "Submitting...";

        console.log('Token: Bearer ', token);

        var xhrTokenInternal = new XMLHttpRequest();
        var url = "https://connector-master-0.node.consul:8185/bifrost/payments/internal";
        console.log('Send internal payment URL obtained: ' + url);
        xhrTokenInternal.timeout = 25000; //25 seconds
        xhrTokenInternal.open("POST", url, true);
        xhrTokenInternal.setRequestHeader('Authorization', 'Bearer ' + token);
        xhrTokenInternal.setRequestHeader('Content-type', 'application/json');
        xhrTokenInternal.onreadystatechange = function () {
            if (xhrTokenInternal.readyState === 4) {
                if (xhrTokenInternal.status === 200 || xhrTokenInternal.status === 201) {
                    console.log('Internal payment response: ' + xhrTokenInternal.responseText);
                    var result = JSON.parse(xhrTokenInternal.responseText);
                    scope.result.text = "Internal Payment sent Successfully";
                    scope.result.payment = xhrTokenInternal.responseText;
                    scope.result.success = true;
                    scope.show = true;
                    scope.$apply(); 
                } else {
                    scope.result.text = "Error sending internal payment";
                    scope.result.payment = xhrTokenInternal.responseText;
                    scope.result.success = false;
                    scope.show = true;
                    scope.$apply(); 
                }
            }

            scope.submit.inprogress = false;
            scope.submit.text = "Send Internal Payment"
        };

        console.log('sending data: ' + data);
        xhrTokenInternal.send(data);
        
    }

    function send_internal_with_token(token, scope) {
        if (token !== undefined && token !== null && token !== '') {

            var debtorId = '';
            var beneficiaryId = '';


            if(scope.data.debtorType === 'SpecialAccountNumber'){
                debtorId = scope.data.dbtrSpecialAcct;
            }else{
                debtorId = scope.data.dbtrAcctId;
            }

            if(scope.data.beneficiaryType === 'SpecialAccountNumber'){
                beneficiaryId = scope.data.beneficiarySpecialAcct;
            }else{
                beneficiaryId = scope.data.beneficiaryAcctId;
            }

            var data = JSON.stringify(
            {
                'data': {
                    'initiation': {
                        'instructedAmount': {
                            'amount': scope.data.settlementAmt,
                            'currency': scope.data.currency
                        },
                        'debtorAccount': {
                            'schemeName': scope.data.debtorType,
                            'identification': debtorId
                        },
                        'creditorAccount': {
                            'schemeName': scope.data.beneficiaryType,
                            'identification': beneficiaryId
                        },
                        'endToEndIdentification': scope.data.endtoendId
                    }
                },
                
                'debtor' :{
                    'nm':scope.data.debtorName,
                } ,                
                'creditor' :{
                    'nm':scope.data.beneficiaryName,
                } ,                
                'remittanceInformation' : {
                    'reference': scope.data.remittanceInformation
                }
                
            });

            console.log('Data: ' + JSON.stringify(data));
            

            do_ajax_query_send_internal(scope, data, token.trim());
        }
    }

    function do_ajax_query_send_token(scope, data) {
        scope.show = false;
        scope.submit.inprogress = true;
        scope.submit.text = "Submitting...";
        var token = '';

        var xhr = new XMLHttpRequest();
        var url = "https://connector-master-0.node.consul:8285/bifrost/login";
        console.log('Get user token URL obtained: ' + url);
        xhr.timeout = 25000; //25 seconds
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log('Internal payment response: ' + xhr.responseText);
                    var result = JSON.parse(xhr.responseText);
                    token = result.access_token;
                    console.log('Token retrieved: ' + token);
                    send_internal_with_token(token, scope);
                } else {
                    scope.result.text = "Error getting token";
                    scope.result.payment = xhr.responseText;
                    scope.result.success = false;
                    scope.submit.inprogress = false;
                    scope.submit.text = "Send Internal Payment";
                    scope.show = true;
                    scope.$apply(); 
                }
            }
        };

        console.log('sending data: ' + data);
        xhr.send(data);
    }

    function submit_send_internal(token) {
        var scope = angular.element($("#submit-sendInternalPayment-container")).scope();

        var tokenData = JSON.stringify(
        {
            'usr': scope.data.username,
            'pwd' : scope.data.password
        });

        var token = '';
        do_ajax_query_send_token(scope, tokenData);
    }
    
</script>